<ul class="menu"></ul>
<ul class="social">
  <li>
    <a href="https://twitter.com/baileyofsheff" target="_blank"><svg class="icon"><use xlink:href="/svg/sprite.svg#twitter" /></svg></a>
  </li>
  <li>
    <a href="https://www.facebook.com/baileyofsheffield" target="_blank"><svg class="icon"><use xlink:href="/svg/sprite.svg#facebook" /></svg></a>
  </li>
  <li>
    <a href="https://www.instagram.com/baileyofsheffield" target="_blank"><svg class="icon"><use xlink:href="/svg/sprite.svg#instagram" /></svg></a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCc5c9Oz1YnvMYuHNb8fgPxw" target="_blank"><svg class="icon"><use xlink:href="/svg/sprite.svg#youtube" /></svg></a>
  </li>
</ul>
