<h3>After care</h3>
<p>
  <strong>Refunds / Exchanges</strong>
  <br> If for any reason you are not totally satisfied with your jewellery simply return it within 30 days of delivery, in its original and unused saleable condition, together with its packaging and receipt.
</p>
<p class="italic">
  Read our terms here.
</p>
<a href="/essentials/refunds-and-exchanges" class="link" title="Read more">
  <svg class="read-more-icon dark">
    <use xlink:href="/svg/sprite.svg#read-more" />
  </svg>
</a>
<br>
