<svg class="mini-logo" viewBox="0 0 126 124" xmlns="http://www.w3.org/2000/svg">
  <title>Bailey of Sheffield</title>
  <g fill-rule="evenodd">
    <path d="M98.628 18.334c12.99 10.428 21.33 26.425 21.33 44.34 0 5.61-.83 11.025-2.35 16.147.153 1.545.232 3.11.227 4.692-.012 3.828-.496 7.754-1.442 11.67-.1.414-.208.826-.32 1.236 6.236-9.756 9.87-21.33 9.87-33.744 0-24.648-14.272-46.016-34.98-56.304.906.946 1.782 1.955 2.628 3.037 2.12 2.707 3.8 5.7 5.038 8.927M5.986 62.674c0-20.39 10.795-38.298 26.964-48.333L30.198 9.32l-.13-.237C12.048 20.14 0 40.026 0 62.675c0 23.018 12.448 43.173 30.958 54.12l1.866-6.12c-16.103-10.048-26.838-27.66-26.838-48"/>
    <path d="M109.096 68.58c-2.835-6.764-7.588-12.327-13.492-16.184-5.904-3.86-12.965-6.026-20.424-6.048h-.12c-2.41 0-4.858.227-7.32.686l-.023 7.197c2.487-.566 4.946-.838 7.343-.838h.1c8.142.027 15.595 3.158 21.01 8.45 2.708 2.646 4.906 5.833 6.43 9.463 1.522 3.63 2.374 7.71 2.36 12.17-.008 2.773-.352 5.695-1.09 8.748-.546 2.264-1.338 4.325-2.34 6.215-1.755 3.306-4.162 6.108-7.106 8.49-2.208 1.786-4.717 3.33-7.454 4.634-4.102 1.96-8.033 3.1-12.835 4.016-3.518.673-6.926.957-10.566.957-1.33 0-2.688-.037-4.095-.108-4.677-.235-10.265-1.022-13.996-2.478l.536-103.743c4.395-1.313 9.032-2.732 13.575-2.732h.074c2.882.01 5.724.313 8.453.94 2.73.626 5.345 1.27 7.788 2.57 2.067 1.103 3.857 2.403 5.388 3.87 2.296 2.202 4.018 4.777 5.184 7.68 1.163 2.904 1.768 6.142 1.757 9.642-.008 2.76-.403 5.685-1.21 8.712 1.74.475 3.45 1.057 5.115 1.74.514.213 1.02.436 1.527.666 1.06-3.77 1.6-7.494 1.613-11.097.01-2.886-.32-5.692-.996-8.372-1.01-4.018-2.8-7.75-5.338-10.99-.294-.376-.595-.743-.9-1.105-2.342-2.767-5.078-5.142-8.54-6.985-3.03-1.616-6.238-2.772-9.523-3.526C66.698.468 63.047.136 59.687.126h-.096c-10.425 0-21.836 5.19-24.03 6.216l3.492 6.915-.615 98.417-1.992 7.24c4.887 1.877 10.97 3.426 15.458 4.015 3.58.47 7.044.87 11.205.87 3.496 0 7.482-.283 12.445-1.047 4.062-.624 7.66-1.735 11.415-3.232 5.63-2.247 10.623-5.55 14.83-9.758 2.1-2.102 3.95-4.477 5.464-7.128 1.514-2.65 2.69-5.577 3.457-8.758.073-.303.124-.6.19-.903.72-3.246 1.087-6.418 1.097-9.477.017-5.375-1.02-10.41-2.91-14.917"/>
  </g>
</svg>
