<h3>Ordering/Delivery</h3>
<p>
  After you have placed your order and received your automated order confirmation email you will then be sent a separate email from the shop informing you of the despatch date. For items in stock we aim for next day despatch, however if stock is low and
  we are busily hand-making and finishing in the workshop, we’ll let you know an estimated delivery date.
</p>
<p class="italic">
  Find out more about our delivery options.
</p>
<a href="/essentials/delivery-and-shipping" class="link" title="Read more">
  <svg class="read-more-icon dark">
    <use xlink:href="/svg/sprite.svg#read-more" />
  </svg>
</a>
