<p>
  <strong>Unique and traceable</strong>
  <br>Every bracelet is unique and fully traceable, and is laser engraved with a serial number that’s unique to you. Use this number to register your jewellery online, where you can activate your More Than Lifetime Guarantee as well as a selection of other
  Bailey of Sheffield CABLE™ bracelet owner perks.
</p>
<p>
  <strong>More Than Lifetime Guarantee</strong>
  <br>At Bailey of Sheffield, we are proud and confident of each and every stunning CABLE™ bracelet; we are certain of our quality and craftsmanship. We have created a bracelet that transcends a lifetime and as such, we offer a <strong>More Than Lifetime Guarantee </strong>with
  every bracelet.
</p>
<p class="italic">
  Find out more here.
</p>
<a href="/essentials/more-than-lifetime-guarantee" class="link" title="Read more">
  <svg class="read-more-icon dark">
    <use xlink:href="/svg/sprite.svg#read-more" />
  </svg>
</a>
