<a href="/shop/{{slug}}" title="{{title}} {{product_type.title}}" class="link">
  <img src="{{cloudFormat "c_fill,w_301,h_204,f_auto,q_auto" listing_image.public_id}}" alt="{{title}} {{product_type.title}}" />
  <h2>{{title}}</h2>
  <p>
    {{langField "en-gb" fields "summary"}}
  </p>
  <span class="price">{{decimalPrice variations.0.price}}</span>
</a>
