<a href="/shop/{{slug}}" title="{{title}} {{product_type.title}}" class="link">
  {{#if listing_image}}
  <img src="{{cloudFormat "w_603,f_auto,q_auto" listing_image.public_id}}" alt="{{title}} {{product_type.title}}" />
  {{else}}
  <img src="/img/product-temp.jpg" alt="{{title}}" />
  {{/if}}
  <h2>{{title}}</h2>
  <p>
    {{langField "en-gb" fields "summary"}}
  </p>
  {{#ifvalue slug value="custom" }}
    {{#if product_offer}}
      <span class="old-price">From {{decimalPrice 17999}}</span> - <span class="price">Now from {{salePrice 17999 product_offer.sale_discount}}</span>
    {{else}}
      <span class="price">From {{decimalPrice 17999}}</span>
    {{/if}}
  {{else}}
    {{#if product_offer}}
      <span class="old-price">Was {{decimalPrice variations.0.price}}</span> - <span class="price">Now {{salePrice variations.0.price product_offer.sale_discount}}</span>
    {{else}}
      <span class="price">{{decimalPrice variations.0.price}}</span>
    {{/if}}
  {{/ifvalue}}
</a>
