<a href="/shop/{{slug}}" title="{{title}} {{product_type.title}}" class="link">
  {{#if listing_image}}
  <img src="{{cloudFormat "w_603,f_auto,q_auto" listing_image.public_id}}" alt="{{title}} {{product_type.title}}" />
  {{else}}
  <img src="/img/product-temp.jpg" alt="{{title}}" />
  {{/if}}
  <h2>{{title}}</h2>
  <p>
    {{langField "en-gb" fields "summary"}}
  </p>
  {{#if on_sale}}
    <span class="old-price">Was {{decimalRange variations}}</span> - <span class="price">Now {{salePrice variations.0.price sale_discount}}</span>
  {{else}}
    <span class="price">{{decimalRange variations}}</span>
  {{/if}}
</a>
