<header>
  {{> miniLogo }}
  {{#if show_offer_banner}}
    {{> promo banner_title=banner_title banner_subtitle=banner_subtitle banner_info=banner_info}}
  {{/if}}
</header>
<section class="product-list">
  <!-- <div class="free-shipping">
    <h2>Free UK Shipping</h2>
  </div> -->
  <nav class="product-nav"></nav>
  <h2>Cable™</h2>
  <section id="cables" class="cables"></section>
  <h2>Beads</h2>
  <section id="beads" class="beads"></section>
  <h2>Accessories</h2>
  <section id="accessories" class="accessories"></section>
  <h2>Curated Sets</h2>
  <section id="curated" class="curated">
    <p class="section-description">
      We are currently developing and prototyping some beautiful new beads as well as some impressive and playful kinetic designs and wearable tech options. In addition, we will also be announcing a range of curated sets of bracelets with beads. These collaborations
      with established fashion and product designers, music artists and high profile jewellers will showcase the bracelet in all its brilliance.
    </p>
  </section>

</section>
