{{#if wide}}
  <img src="{{cloudFormat "f_auto,w_800" image.public_id}}" alt="{{title}}" />
{{else}}
  <img src="{{cloudFormat "f_auto,w_450" image.public_id}}" alt="{{title}}" />
{{/if}}
<div class="look-info">
  {{{body}}}
  {{#if product}}
    <button class="btn btn-sm js-buy">Buy</button>
  {{/if}}
</div>
