<div class="checkout-progress"></div>
<header>
  {{> miniLogo }}
  <h2>Your Account</h2>
</header>
<div class="login-form-layout">
  <div class="user-login"></div>
  <div class="create-account"></div>
  <div class="guest-checkout">
    <p>
      Proceed as guest to checkout, your order will be emailed to you but you'll be unable to access your order online.
    </p>
    <button type="submit" class="btn btn-center js-guest" data-title="Checkout as guest">Checkout as guest</button>
  </div>
</div>
