<td>{{orderid}}</td>
<td>{{status}}</td>
<td>{{formatDate checkoutDate "DD/MM/YY"}}</td>
<td>{{decimalPrice total}}</td>
<td class="text-right">
  <a href="javascript:;" class="js-show">
    <svg class="read-more-icon dark">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </a>
</td>
