<div class="custom-fixed">
  <svg id="custom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 873 100">
    <defs>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="STAIN">
        <stop stop-color="#F2F2F2" offset="0%"></stop>
        <stop stop-color="#CECECE" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="PET">
        <stop stop-color="#8AD5D6" offset="0%"></stop>
        <stop stop-color="#004357" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="MGOLD">
        <stop stop-color="#F7C068" offset="0%"></stop>
        <stop stop-color="#C79244" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="RGOLD">
        <stop stop-color="#DDA197" offset="0%"></stop>
        <stop stop-color="#5F3C3A" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="ANTH">
        <stop stop-color="#3D1852" offset="0%"></stop>
        <stop stop-color="#110319" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="PBLACK">
        <stop stop-color="#262626" offset="0%"></stop>
        <stop stop-color="#000000" offset="100%"></stop>
      </linearGradient>
      <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="MBLACK">
        <stop stop-color="#3C3B3B" offset="0%"></stop>
        <stop stop-color="#131313" offset="100%"></stop>
      </linearGradient>
    </defs>
    <path id="ROPE" d="M-1 29.25h875v42H-1z" fill="#fff" stroke="#4A4A4A" />
    <g id="CABLE-LINES" stroke="#9D9B99">
      <path d="M-47.75 29.055l71.014 41" id="Stroke-9" />
      <path d="M-27.75 29.055l71.014 41" id="Stroke-11" />
      <path d="M-7.75 29.055l71.014 41" id="Stroke-13" />
      <path d="M12.25 29.055l71.014 41" id="Stroke-15" />
      <path d="M32.25 29.055l71.014 41" id="Stroke-17" />
      <path d="M52.25 29.055l71.014 41" id="Stroke-19" />
      <path d="M72.25 29.055l71.014 41" id="Stroke-21" />
      <path d="M92.25 29.055l71.014 41" id="Stroke-23" />
      <path d="M112.25 29.055l71.014 41" id="Stroke-25" />
      <path d="M132.25 29.055l71.014 41" id="Stroke-27" />
      <path d="M152.25 29.055l71.014 41" id="Stroke-29" />
      <path d="M172.25 29.055l71.014 41" id="Stroke-31" />
      <path d="M192.25 29.055l71.014 41" id="Stroke-33" />
      <path d="M212.25 29.055l71.014 41" id="Stroke-35" />
      <path d="M232.25 29.055l71.014 41" id="Stroke-37" />
      <path d="M252.25 29.055l71.014 41" id="Stroke-39" />
      <path d="M272.25 29.055l71.014 41" id="Stroke-41" />
      <path d="M292.25 29.055l71.014 41" id="Stroke-43" />
      <path d="M312.25 29.055l71.014 41" id="Stroke-45" />
      <path d="M489.572 29.055l71.014 41" id="Stroke-47" />
      <path d="M509.572 29.055l71.014 41" id="Stroke-49" />
      <path d="M529.572 29.055l71.014 41" id="Stroke-51" />
      <path d="M549.572 29.055l71.014 41" id="Stroke-53" />
      <path d="M569.572 29.055l71.014 41" id="Stroke-55" />
      <path d="M589.572 29.055l71.014 41" id="Stroke-57" />
      <path d="M609.572 29.055l71.014 41" id="Stroke-59" />
      <path d="M629.572 29.055l71.014 41" id="Stroke-61" />
      <path d="M649.572 29.055l71.014 41" id="Stroke-63" />
      <path d="M669.572 29.055l71.014 41" id="Stroke-65" />
      <path d="M689.572 29.055l71.014 41" id="Stroke-67" />
      <path d="M709.572 29.055l71.014 41" id="Stroke-69" />
      <path d="M729.572 29.055l71.014 41" id="Stroke-71" />
      <path d="M749.572 29.055l71.014 41" id="Stroke-73" />
      <path d="M769.572 29.055l71.014 41" id="Stroke-75" />
      <path d="M789.572 29.055l71.014 41" id="Stroke-77" />
      <path d="M809.572 29.055l71.014 41" id="Stroke-79" />
      <path d="M829.572 29.055l71.014 41" id="Stroke-81" />
      <path d="M849.572 29.055l71.014 41" id="Stroke-83" />
      <path d="M869.572 29.055l71.014 41" id="Stroke-85" />
      <path d="M-67.75 29.055l71.014 41" id="Stroke-91" />
    </g>
    <path id="CLASP-LEFT" d="M296 88.06V13.006l1.978-1.966L299.966 9H437v83H300.09z" stroke="#4A4A4A" fill="#FFF" />
    <path id="CLASP-RIGHT" d="M577 88.06V13.006l-1.978-1.966L573.034 9H436v83h136.91z" stroke="#4A4A4A" fill="#FFF" />
    <path id="CLASP-MIDDLE" stroke="#4A4A4A" fill="#FFF" d="M360 96.25h153.75V4H360z" />
    <g id="CLASP-LINES" stroke="#4A4A4A" stroke-linecap="square">
      <path d="M300.5 9.5v82.006" id="left" />
      <path d="M572.5 9.5v82.006" id="right" />
    </g>
    <g id="CLASP-LOGO">
    	<g>
    		<path d="M446.9,37.2c3.8,3.1,6.2,7.7,6.2,13c0,1.6-0.2,3.2-0.7,4.7c0,0.5,0.1,0.9,0.1,1.4c0,1.1-0.1,2.3-0.4,3.4
    			c0,0.1-0.1,0.2-0.1,0.4c1.8-2.9,2.9-6.2,2.9-9.9c0-7.2-4.2-13.5-10.2-16.5c0.3,0.3,0.5,0.6,0.8,0.9
    			C446.1,35.4,446.6,36.3,446.9,37.2z"/>
    		<path d="M419.8,50.2c0-6,3.2-11.2,7.9-14.2l-0.8-1.5l0-0.1c-5.3,3.2-8.8,9.1-8.8,15.7c0,6.7,3.6,12.6,9.1,15.8l0.5-1.8
    			C423,61.3,419.8,56.2,419.8,50.2z"/>
    	</g>
    	<path d="M450,51.9c-0.8-2-2.2-3.6-4-4.7c-1.7-1.1-3.8-1.8-6-1.8c0,0,0,0,0,0c-0.7,0-1.4,0.1-2.1,0.2l0,2.1c0.7-0.2,1.4-0.2,2.2-0.2
    		c0,0,0,0,0,0c2.4,0,4.6,0.9,6.2,2.5c0.8,0.8,1.4,1.7,1.9,2.8c0.4,1.1,0.7,2.3,0.7,3.6c0,0.8-0.1,1.7-0.3,2.6
    		c-0.2,0.7-0.4,1.3-0.7,1.8c-0.5,1-1.2,1.8-2.1,2.5c-0.6,0.5-1.4,1-2.2,1.4c-1.2,0.6-2.4,0.9-3.8,1.2c-1,0.2-2,0.3-3.1,0.3
    		c-0.4,0-0.8,0-1.2,0c-1.4-0.1-3-0.3-4.1-0.7l0.2-30.4c1.3-0.4,2.6-0.8,4-0.8c0,0,0,0,0,0c0.8,0,1.7,0.1,2.5,0.3
    		c0.8,0.2,1.6,0.4,2.3,0.8c0.6,0.3,1.1,0.7,1.6,1.1c0.7,0.6,1.2,1.4,1.5,2.2c0.3,0.9,0.5,1.8,0.5,2.8c0,0.8-0.1,1.7-0.4,2.6
    		c0.5,0.1,1,0.3,1.5,0.5c0.2,0.1,0.3,0.1,0.4,0.2c0.3-1.1,0.5-2.2,0.5-3.2c0-0.8-0.1-1.7-0.3-2.5c-0.3-1.2-0.8-2.3-1.6-3.2
    		c-0.1-0.1-0.2-0.2-0.3-0.3c-0.7-0.8-1.5-1.5-2.5-2c-0.9-0.5-1.8-0.8-2.8-1c-1-0.2-2-0.3-3-0.3c0,0,0,0,0,0c-3.1,0-6.4,1.5-7,1.8
    		l1,2l-0.2,28.8l-0.6,2.1c1.4,0.5,3.2,1,4.5,1.2c1,0.1,2.1,0.3,3.3,0.3c1,0,2.2-0.1,3.6-0.3c1.2-0.2,2.2-0.5,3.3-0.9
    		c1.6-0.7,3.1-1.6,4.3-2.9c0.6-0.6,1.2-1.3,1.6-2.1c0.4-0.8,0.8-1.6,1-2.6c0-0.1,0-0.2,0.1-0.3c0.2-1,0.3-1.9,0.3-2.8
    		C450.9,54.7,450.6,53.3,450,51.9z"/>
    </g>
  </svg>
  <span class="price"></span>
</div>
<div class="custom-options">
  {{#compare total 0 operator=">" }}
      {{#if has_engravings}}
        <a href="javascript:;" class="btn js-engraving">Edit engraving</a>
      {{/if}}
      {{else}}
        {{#if has_engravings}}
          <a href="javascript:;" class="btn js-engraving">Add engraving</a>
        {{/if}}
  {{/compare}}
  <ul class="product-sizes">
    <li>
      <button id="S" class="product-select">S</button>
    </li>
    <li>
      <button id="M" class="product-select">M</button>
    </li>
    <li>
      <button id="L" class="product-select">L</button>
    </li>
  </ul>
  <a href="javascript:;" class="js-size-guide">View size guide</a>
  <div class="custom-selectors">
    <h3>Select your rope</h3>
    <ul class="custom-colours">
      {{#each options}}
        <li class="change-cable" data-part="ROPE" data-colour="{{colour_code}}" data-name="{{name}}">
          <span class="image-radio">
          <input id="ROPE-{{colour_code}}" class="custom-colour" value="ROPE-{{colour_code}}" type="radio" name="ROPE">
            <img src="{{cloudFormat "f_auto,fl_lossy,c_thumb,w_40,h_40" image.public_id}}" alt="{{name}}" />
            <span class="show-tick">
              <svg><use xlink:href="/svg/sprite.svg#tick"></use></svg>
            </span>
          </span>
        </li>
      {{/each}}
    </ul>
    <div id="ROPE-WARNING" class="custom-warning error rope-warning">Please select a rope colour</div>
    <h3>Select left clasp</h3>
    <ul class="custom-colours">
      {{#each options}}
        <li class="change-part" data-part="CLASP-LEFT" data-colour="{{colour_code}}" data-name="{{name}}">
          <span class="image-radio">
          <input id="CLASP-LEFT-{{colour_code}}" class="custom-colour" value="CLASP-LEFT-{{colour_code}}" type="radio" name="CLASP-LEFT">
            <img src="{{cloudFormat "f_auto,fl_lossy,c_thumb,w_40,h_40" image.public_id}}" alt="{{name}}" />
            <span class="show-tick">
              <svg><use xlink:href="/svg/sprite.svg#tick"></use></svg>
            </span>
          </span>
        </li>
      {{/each}}
    </ul>
    <div id="CLASP-LEFT-WARNING" class="custom-warning error left-clasp-warning">Please select a colour</div>
    <h3>Select middle clasp</h3>
    <ul class="custom-colours">
      {{#each options}}
        <li class="change-part" data-part="CLASP-MIDDLE" data-colour="{{colour_code}}" data-name="{{name}}">
          <span class="image-radio">
          <input id="CLASP-MIDDLE-{{colour_code}}" class="custom-colour" value="CLASP-MIDDLE-{{colour_code}}" type="radio" name="CLASP-MIDDLE">
            <img src="{{cloudFormat "f_auto,fl_lossy,c_thumb,w_40,h_40" image.public_id}}" alt="{{name}}" />
            <span class="show-tick">
              <svg><use xlink:href="/svg/sprite.svg#tick"></use></svg>
            </span>
          </span>
        </li>
      {{/each}}
    </ul>
    <div id="CLASP-MIDDLE-WARNING" class="custom-warning error middle-clasp-warning">Please select a colour</div>
    <h3>Select right clasp</h3>
    <ul class="custom-colours">
      {{#each options}}
        <li class="change-part" data-part="CLASP-RIGHT" data-colour="{{colour_code}}" data-name="{{name}}">
          <span class="image-radio">
          <input id="CLASP-RIGHT-{{colour_code}}" class="custom-colour" value="CLASP-RIGHT-{{colour_code}}" type="radio" name="CLASP-RIGHT">
            <img src="{{cloudFormat "f_auto,fl_lossy,c_thumb,w_40,h_40" image.public_id}}" alt="{{name}}" />
            <span class="show-tick">
              <svg><use xlink:href="/svg/sprite.svg#tick"></use></svg>
            </span>
          </span>
        </li>
      {{/each}}
    </ul>
    <div id="CLASP-RIGHT-WARNING" class="custom-warning error right-clasp-warning">Please select a colour</div>
    <button id="add-cart" type="submit" class="btn add-cart">Order Now</button>
  </div>
</div>
