<div class="info-box">
  <h3>Technical</h3>
  {{{langField "en-gb" fields "technical"}}}
</div>
<div class="info-box">
  <h3>In the box</h3>
  {{{langField "en-gb" fields "in_box"}}}
  <img class="in-the-box" src="/img/inthebox.jpg" alt="In the box" />
</div>
<div class="info-box">
  {{> ordering }}
</div>
<div class="info-box">
  {{> afterCare }}
  <br>
  {{#ifvalue product_type.title value="Cable™" }}
  {{> traceable }}
  {{/ifvalue}}
</div>
