{{decimalPrice total}}{{#compare engraving_qty 0 operator=">" }} + Engravings {{decimalPrice engraving_total}}{{/compare}}
{{#if product.product_offer}}
  <p class="old-price">
    {{decimalPrice product.product_offer.sale_discount}} OFF
  </p>
{{/if}}
