<div class="content">
  {{{langField "en-gb" fields "body"}}}
</div>
{{#if video_url}}
  <div class="video-wrapper">
    <video id="video" controls>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{video_url}}.webm" type="video/webm" />
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{video_url}}.mp4" type="video/mp4" />
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{video_url}}.ogv" type="video/ogv" />
  </video>
    <div class="video-overlay">
      <img class="video-play" src="/svg/play-white.svg" alt="" />
    </div>
  </div>
{{/if}}
<div class="product-recommend"></div>
