<ul class="account-menu not-mobile">
  {{#if auth}}
    <li><a href="/user/{{userid}}" class="show-account">Account</a></li>
  {{else}}
    <li><a href="/login" class="show-login">Login/Register</a></li>
  {{/if}}
</ul>
<button class="mobile-menu-icon">Menu</button>
