<p>
  To further customise your look...
</p>
<h3>Recommended for you</h3>
<div class="recommend-carousel owl-dark-nav"></div>
<div class="btn-group">
  <button class="btn btn-center view-shop">Continue Shopping</button><button class="btn btn-center view-cart">View Bag</button>
</div>
