<a href="/shop/{{slug}}" title="{{title}}" class="link">
  <img src="{{cloudFormat "c_fill,w_301,h_204,f_auto,q_auto" listing_image.public_id}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <span class="price">{{decimalPrice variations.0.price}}</span>
  {{#if fields.0.included_with}}
    <p class="included">
      {{langField "en-gb" fields "included_with"}}
    </p>
  {{/if}}
</a>
