<div class="video-wrapper">
  <video id="video" poster="/video/portland-works.jpg" controls>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462789151/bailey/video/manufacturing.webm" type="video/webm"/>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462789151/bailey/video/manufacturing.mp4" type="video/mp4"/>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462789151/bailey/video/manufacturing.ogv" type="video/ogv"/>
  </video>
  <div class="video-overlay">
    <img class="video-play" src="/svg/play-white.svg" alt="">
  </div>
</div>
