<h1>Order #{{order.orderid}}<br />Status: {{order.status}}</h1>
<div class="order-addresses">
  <div class="order-shipping">
    <h4>Shipping address</h4>
    {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}<br>
    {{order.shipping_address.address1}}<br>
    {{#if order.shipping_address.address2}}
    {{order.shipping_address.address2}}<br>
    {{/if}}
    {{order.shipping_address.city}}<br>
    {{#if order.shipping_address.region}}
    {{order.shipping_address.region}}<br>
    {{/if}}
    {{order.shipping_address.postcode}}<br>
    {{order.shipping_address.country}}<br>
  </div>
  <div class="order-billing">
    <h4>Billing address</h4>
    {{#if order.billing_address}}
    {{order.billing_address.first_name}} {{order.billing_address.last_name}}<br>
    {{order.billing_address.address1}}<br>
    {{#if order.billing_address.address2}}
    {{order.billing_address.address2}}<br>
    {{/if}}
    {{order.billing_address.city}}<br>
    {{#if order.billing_address.region}}
    {{order.billing_address.region}}<br>
    {{/if}}
    {{order.billing_address.postcode}}<br>
    {{order.billing_address.country}}<br>
    {{else}}
    {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}<br>
    {{order.shipping_address.address1}}<br>
    {{#if order.shipping_address.address2}}
    {{order.shipping_address.address2}}<br>
    {{/if}}
    {{order.shipping_address.city}}<br>
    {{#if order.shipping_address.region}}
    {{order.shipping_address.region}}<br>
    {{/if}}
    {{order.shipping_address.postcode}}<br>
    {{order.shipping_address.country}}<br>
    {{/if}}
  </div>
</div>
<table class="invoice-items" cellpadding="0" cellspacing="0">
  {{#each order.items}}
  <tr>
    <td class="product-image" width="60"><img src="https://res.cloudinary.com/dot-to-dot-design/image/upload/f_jpg,c_pad,w_60,h_60/{{image.public_id}}" alt="" /></td>
    <td>
      {{#if custom_variations}}
        {{#each custom_variations}}
          {{../qty}} x {{product.title}}
          {{#if product.size}} - {{product.size}}{{/if}}
          <br>
        {{/each}}
      {{else}}
        {{qty}} x {{product.title}}
        {{#if product.size}} - {{product.size}}{{/if}}
      {{/if}}
    </td>
    <td class="alignright">{{decimalPrice total}}</td>
  </tr>
  {{/each}}
  <tr class="total">
    <td class="alignright" width="80%" colspan="2">Subtotal</td>
    <td class="alignright">{{decimalPrice order.subtotal}}</td>
  </tr>
  {{#if order.discount_amount}}
    <tr class="total">
      <td class="alignright" width="80%" colspan="2">Discount {{order.discount_percent}}%</td>
      <td class="alignright">{{decimalPrice order.discount_amount}}</td>
    </tr>
  {{/if}}
  <tr class="total">
    <td class="alignright" width="80%" colspan="2">Shipping</td>
    <td class="alignright">{{decimalPrice order.shipping_price}}</td>
  </tr>
  <tr class="total">
    <td class="alignright" width="80%" colspan="2">Total</td>
    <td class="alignright">{{decimalPrice order.total}}</td>
  </tr>
</table>
