<header>
  {{> miniLogo }}
  <h2>Reset password</h2>
</header>
<form id="reset-form">
  <p>Enter your new password below to reset your password.</p>
  <div class="form-group">
    <input id="password" class="form-control" type="password" name="password" placeholder="New Password (min 8 characters)">
  </div>
  <div class="form-group">
    <input id="confirm" class="form-control" type="password" name="confirm" placeholder="Confirm Password">
  </div>
  <button class="btn btn-center js-submit">Update password</button>
</form>
