<div class="video-wrapper">
  <video id="video" poster="/video/portland-works.jpg" controls>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462784047/bailey/video/portland-works.webm" type="video/webm"/>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462784047/bailey/video/portland-works.mp4" type="video/mp4"/>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1462784047/bailey/video/portland-works.ogv" type="video/ogv"/>
  </video>
  <div class="video-overlay">
    <img class="video-play" src="/svg/play-white.svg" alt="" />
  </div>
</div>
<div class="portland-images">
  <div class="image">
    <img src="/img/portland/image1.jpg" alt="Portland Works" />
  </div>
  <div class="image">
    <img src="/img/portland/image2.jpg" alt="Portland Works" />
  </div>
  <div class="image">
    <img src="/img/portland/image3.jpg" alt="Portland Works" />
  </div>
</div>
