// main: styles.less

.account-layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
  @media(min-width: 658px) {
    flex-wrap: nowrap;
  }
  p {
    font-family: @arialFont;
  }
  ul {
    .font-size(14, 18);
    font-family: @arialFont;
    margin-left: 25px;
    margin-bottom: 1em;
    li {
      list-style: disc;
      margin-left: 10px;
    }
  }
}

.user-account-menu {
  flex: 0 0 100%;
  margin-right: 2%;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 1em;
    margin-right: 10px;
    display: inline-block;
    a {
      font-family: @archerFont;
      font-weight: @archerBook;
      .font-size(14, 14);
      text-transform: uppercase;
    }
    @media(min-width: 658px) {
      display: block;
      margin-right: 0;
    }
  }
  @media(min-width: 658px) {
    flex: 0 0 150px;
  }
}

.user-account {
  flex: 0 0 100%;
  h1 {
    .font-size(18, 18);
    margin-bottom: 1em;
  }
  table {
    .font-size(13, 13);
  }
  thead th {
    font-family: @archerFont;
    font-weight: @archerBook;
    text-transform: uppercase;
    .font-size(14, 14);
    border-bottom: 1px solid @brown;
    padding: 10px 5px;
  }
  tbody td {
    border-bottom: 1px solid @lightgrey;
    vertical-align: middle;
  }
  @media(min-width: 658px) {
    flex: 1;
  }
}
.order-addresses {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}
.user-order {
  .font-size(16, 16);
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}
.order-shipping, .order-billing {
  flex: 0 1 50%;
  h4 {
    margin-bottom: 1em;
  }
}

.invoice-items {
  width: 100%;
  margin-top: 3em;
  .product-image {
    max-width:100%;
    white-space:nowrap;
    margin: 0;
    img {
      width: 60px;
    }
  }
  .total td {
    border-top: 1px solid @lightgrey
  }
  td {
    .font-size(16, 16);
  }
}

td.alignright {
  text-align: right;
}
.total td {
  font-weight: bold;
}
