// main: styles.less
.cart-actions {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  @media(min-width: 800px) {
    flex-direction: row;
  }
}
.show-checkout {
  order: 0;
  margin-top: 1em;
  @media(min-width: 800px) {
    margin-left: auto;
    order: 1;
  }
}
.shop-continue {
  order: 1;
  margin-top: 1em;
}
h1.cart-empty {
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
}
.cart-items .container {
  .cart-total {
    padding-top: 40px;
    width: 142px;
    margin-left: auto;
  }
  p {
    font-family: @arialFont;
    .font-size(14, 14);
  }
  .cart-value {
    .font-size(18, 18);
    font-weight: bold;
  }
}
.cart-list {
  li {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-bottom: 1px solid @darkgrey;
    .item-image {
      flex: 0 0 20%;
      order: 0;
    }
    .item-title {
      flex: 0 0 auto;
      width: calc(~"80% - 30px");
      padding: 0 10px;
      .font-size(16, 16);
      order: 1;
      h4 {
        margin-bottom: 0.4em;
      }
      @media(min-width: 800px) {
        .font-size(20, 20);
      }
    }
    .item-qty {
      flex: 0 0 40%;
      padding: 0;
      order: 5;
    }
    .item-price {
      flex: 1 0 auto;
      padding: 0 10px;
      margin-left: 20%;
      order: 4;
    }
    .remove-cart {
      flex: 0 0 30px;
      order: 3;
      height: 22px;
      .close-icon {
        fill: @red;
        width: 30px;
        height:30px;
      }
    }
    @media(min-width: 800px) {
      padding: 40px 0;
    }
  }
}

.engravings-cart {
  margin-bottom: 1em;
  h4 {
    .font-size(18, 18);
  }
  li {
    padding: 0;
    border: 0;
    .font-size(11,15);
    display: block;
  }
}

.cart-in-box {
  p {
    display: none;
  }
  ul {
    margin-bottom: 1em;
    li {
      display: block;
      padding: 0;
      border: 0;
      .font-size(11,15);
      @media(min-width: 658px) {
        display: inline-block;
        .font-size(11,11);
      }
    }
    li:after {
      content: "";
      @media(min-width: 658px) {
        content: " - ";
      }
    }
    li:last-child:after {
      content: "";
    }
  }
}
