// main: styles.less

.char-left {
  font-weight: bold;
}
.char-left.warning {
  color:@red;
}
#apple-pay-button {
    display: none;
    background-color: black;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 44px;
    padding: 10px 0;
    border-radius: 10px;
  }
.payment-request {
    ul {
      margin-bottom: 1em;
    }
    li {
      .font-size(18, 18);
      font-weight: bold;
      font-family: @arialFont;
    }
}

.order-thanks {
  text-align: center;
  h1 {
    margin-bottom: 1em;
  }
  h2 {
    .font-size(21,21);
    margin: 1em 0 1em;
  }
  .social {
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    li {
      list-style: none;
    }
    .icon {
      fill: @brown;
    }
  }
}
.card-types {
  margin-bottom: 1em;
  li {
    display: inline-block;
    img {
      width: 50px;
    }
  }
}
.checkout-layout {
  .mini-logo {
    max-width: 80px;
    margin: 20px auto;
  }
}
.checkout-step-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media(min-width: 700px) {
    flex-direction: row;
  }
}
.cart-items {
  order: 0;
  @media(min-width: 700px) {
    order: 1;
    flex: 0 0 300px;
  }
}
.checkout-step {
  flex: 1;
  h3 {
    margin-bottom: 0.5em;
  }
  .js-next {
    margin: 2em 0 0;
    display: block;
  }
  @media(min-width: 700px) {
    margin-right: 2%;
  }
}
.checkout-space {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid @lightgrey;
}
.checkout-summary {
  margin-bottom: 1em;
  @media(min-width: 700px) {
    margin-bottom: 0;
  }
  h3 {
    border-bottom: 1px solid #9e9c9a;
    padding-bottom: 0.5em;
  }
  .cart-list {
    li {
      padding: 10px 0;
    }
  }
  .cart-total {
    padding: 0.3em 0;
    font-family: @archerFont;
    font-weight: @archerSemibold;
    .font-size(14,14);
    display: flex;
    @media(min-width: 700px) {
      padding: 0.5em 0;
      .font-size(20,20);
    }
  }
  .cart-value {
    margin-left: auto;
  }
  .cart-list {
    li {
      .item-qty .cart-value,
      .item-title h4 {
        .font-size(14,14)
      }
      .item-title {
        flex: 1 1;
      }
      .item-image {
        flex: 0 1 50px;
      }
      .item-qty {
        flex: 0 0 auto;
      }
    }
    .engravings-cart {
      h4 {
        margin: 1em 0 0;
      }
      ul {
        margin: 0;
      }
      li {
        margin: 1px 0 !important;
        padding: 0;
      }
    }
  }
}
.billing-fields {
  display: none;
}
