// main: styles.less
.more-link {
  .cssSprite(@arrow-right-orange);
  text-indent:-9999px;
  margin: 0 auto;
}

.more-link.wait {
  width: 30px;
  height: 30px;
  background-image: url("/img/loading-small.gif");
  background-position: 0 0;
}

.more-link-xs {
  .cssSprite(@arrow-right-orange-xs);
  text-indent:-9999px;
  display: block;
}

.input-button {
  .cssSprite(@arrow-right-xs);
  text-indent:-9999px;
  display: block;
  margin-top: 10px;
}

.btn {
  border: 1px solid @orange;
  padding: 1.3em 2.5em;
  text-transform: uppercase;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  .font-size(11, 11);
  color: @brown;
  min-width: 170px;
}

.btn-center {
  margin: 0 auto;
  display: block;
}

.btn-group {
  margin: 0 auto;
  display: block;
  text-align: center;
  .btn {
    display: inline-block;
    margin: 10px;
  }
}

.btn-sm {
  padding: .8em 1.7em;
  min-width: inherit;
}

.btn:hover {
  border-color: @brown;
}

.btn:disabled {
  border-color: @lightgrey;
  color: @lightgrey;
}

.full-logo {
  align-self: center;
}

#logo_svg {
  fill: #FFF;
  max-width: 500px;
  width: 80vw;
}
.small-logo {
  max-width: 105px;
  margin: 0 auto;
  display: block;
  align-self: center;
}

.mini-logo {
  margin: 0 auto 20px;
  display: block;
  align-self: center;
  fill: @brown;
}

.submit-link {
  width: 30px;
  height: 30px;
  display: block;
}

.action-link {
  width: 70px;
  height: 70px;
  display: block;
}

.delete-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.scroll-icon {
  width: 40px;
  height: 40px;
  fill: @brown;
  display: block;
  margin: 2em auto 0;
  cursor: pointer;
}

#circle {
  width: 30px;
  height: 30px
}

.loading-icon {
  display: none;
  width: 30px;
  height: 30px;
  fill: @orange;
}

#loader {
  fill: lighten(@orange, 20%);
}

article.story {
  p {
    text-align: center;
    .font-size(18, 24);
    font-style: normal;
    font-weight: 500;
  }

  .p1 {
    .font-size(20, 26);
    font-style: italic;
    font-weight: 600;
  }
}

.video-wrapper {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.video-overlay {
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:99%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-play {
  width: 50px;
  height: 50px;
}

video {
  width: 100%;
}
