// main: styles.less
#CLASP-LOGO {
  opacity: 0.7;
  fill: #666;
}
.product-custom {
  width: 100%;
  .price {
    display: block;
    text-align: center;
    font-weight: bold;
    .font-size(14, 16);
    margin-top: 20px;
  }
  .js-size-guide, .js-engraving {
    display: block;
    margin: 10px 0;
    .font-size(11,11);
  }
  .js-engraving {
    max-width: 170px;
    margin: 0 auto 1em;
    padding: 1.3em 2em;
  }
}

.custom-header {
  background-color: #f5f5f5;
  padding: 0 0 80px;
  text-align: center;
  position: relative;

  svg {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    padding: 0;
  }
}

.custom-fixed {
  background-color: #f5f5f5;
  width: 100%;
  position: fixed;
  top:60px;
  padding: 20px 0;
  z-index: 10;
}

.custom-options {
  h3 {
    .font-size(16,16);
    margin-top: 1em;
  }
  .add-cart {
    margin-top: 2em;
    margin-bottom: 10px;
  }
}

.custom-selectors {
  display: none;
  .delivery-date {
    .font-size(11,11);
  }
}

.custom-colours {
  margin: 10px auto 0;
  display: block;
  text-align: center;
  li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
  }
}

.custom-warning {
  .font-size(14,14);
}

.custom-warning.error {
  color: @red;
}

.image-radio {
  display: block;
  position: relative;
  width: 100%;
  // height: 60px;
  input {
    visibility: hidden;
    display: none;
  }
  img {
    display: block;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    max-height: 100%;
  }
  .show-tick {
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    overflow: hidden;
    display: none;
    svg {
      fill: white;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
    }
  }
  input:checked ~ img ~ .show-tick {
    display: block;
  }
}

@media(min-width: 658px) {
  .custom-fixed {
    top: 120px;
  }
}
