// main: styles.less
.product-engraving {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 100%;
  padding: 20px;
  z-index: 22;
  transform: translate(100%);
  transition-duration: 300ms;
  overflow: auto;
  @media(min-width: 600px) {
    width: 50%;
  }
  @media(min-width: 1100px) {
    width: 25%;
  }
  .close-panel {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  h2 {
    .font-size(21,21);
    margin: 0.5em 0;
  }
  .price {
    display: block;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 1em;
    color: @brown;
  }
  .options li {
    margin-bottom: 2.5em;
    padding-bottom: 2em;
    border-bottom: 1px solid @brown;
  }
}
.product-engraving.show {
  transform: translate(0%);
}
.engraving-add .icon {
  fill: @green;
}
.engraving-delete .icon {
  fill: @red;
}
.engraving-create, .engraving-view {
  .heading {
    display: flex;
    .font-size(12,12);
    font-weight: bold;
    color: @brown;
    margin-bottom: 0.5em;
  }
  .item-total {
    margin-left: auto;
  }
  .actions {
    display: flex;
    p {
      margin: 0;
    }
    button {
      margin-left: auto;
    }
  }
  input {
    text-transform: uppercase;
  }
  .icon {
    width: 28px;
    height: 28px;
  }
}

.engraving-view {
  h4 {
    .font-size(14,14);
    color: @brown;
    border-bottom: 1px solid @lightgrey;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 5px;
    }
  }
}
