// main: styles.less

.footer {
  width: 100%;
  background: @brown;
  padding: 20px;
  display: block;
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  .f-item {
    width: 100%;
    position: relative;
    flex-grow: 1;
    margin-bottom: 2em;
  }

  .f-logo,
  .f-main {
    display: none;
  }
}

.footer-logos {
  align-self: center;
  padding-top: 1em;
  p {
    color: @lightgrey
  }
  #mc_embed_signup {
    margin-bottom: 1em;
    @media(min-width: 980px) {
          margin-left: 16.5%;
    }
      @media(min-width: 600px) {
        width: 48%;
      }
  }
  .mc-field-group {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;
    .input-group-btn, input.email {
      display: table-cell;
    }

    @media(min-width: 480px) {
          display: table;
          margin-bottom: 0;
    }

    input.email {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 1em;
      border: 0;
      height: 40px;
      @media(min-width: 480px) {
          margin-bottom: 0;
      }
    }

    .input-group-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;
      width: 1%;
      vertical-align: middle;
    }

    .btn {
      background-color: @orange;
      border: 0;
      height: 40px;
    }

    .btn:hover {
      background-color: @lightgrey;
    }
  }

  .made-in {
    align-self: center;
    margin: 0 auto;
    @media(min-width: 400px) {
      max-width: 360px;
    }

    @media(min-width: 600px) {
      margin-left: auto;
      align-self: flex-end;
      width: 48%;
    }
  }
  @media(min-width: 600px) {
    display: flex;
  }
}
