// main: styles.less
form {
  p {
    text-align: left;
    font-family: @arialFont;
    font-weight: normal;
  }
}
label {
  font-weight: bold;
  .font-size(12, 14);
  color: @brown;
  margin-bottom: 5px;
  display: block;
}
input, textarea {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 10px;
  background-color: #fff;
  color: @brown;
  .font-size(14, 18);
  font-family: @arialFont;
  font-style: italic;
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  height: 40px;
  border: 1px solid #fff;
}
input[type=checkbox], input[type=radio] {
  display: none;
}
input[type=checkbox] + label:before, input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid @brown;
  cursor: pointer;
  transition: all 0.2s;
}
input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  background-color: @brown;
}
label.checkbox-label {
  margin-bottom: 1em;
}
input:disabled {
  opacity: 0.4;
}
.form-group {
  transition: all 0.2s;
}
.form-group.has-error {
  position: relative;
  input {
    border: 1px solid red;
  }
  .input-error {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    svg {
      width: 22px;
      height: 22px;
      fill: @red;
    }
  }
}
.form-group.has-success {
  position: relative;
  input {
    border: 1px solid @green;
  }
  .input-success {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    svg {
      width: 20px;
      height: 20px;
      fill: @green
    }
  }
}
p.input-description {
  .font-size(11, 11);
  margin-top: -8px;
}
.input-wrapper {
  background: #fff;
  display: flex;
  height: 40px;
  input {
    flex: 1;
    background: transparent;
  }
  button {
    margin-right: 10px;
  }
  .submit-link {
    width: 20px;
    height: 20px;
  }
}
.field-wrapper {
  position: relative;
}
.field-name {
  position: absolute;
  left: 10px;
  top: -18px;
  opacity: 0;
}
//Select
label.dropdown-wrapper {
  display: block;
  margin: 0;
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
}
.dropdown {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
select {
  color: @brown;
  .font-size(14, 18);
  font-family: @arialFont;
  font-style: italic;
  font-weight: normal;
  /* Make sure the select is wider than the container so we can clip the arrow */
  width: 110%;
  max-width: 110%;
  min-width: 110%;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Ugly Firefox way of doing it */
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  background: none;
  border: none;
  outline: none;
  /* Padding works surpringly well */
  padding: 10px 19% 10px 10px;
  margin: 0.2em;
}
/* This hides native dropdown button arrow in IE */
select::-ms-expand {
  display: none;
}
/* Custom arrow - could be an image, SVG, icon font, etc. */
.dropdown:after {
  width: 20px;
  height: 11px;
  background-image: url("/svg/chevron-down.svg");
  background-size: 20px 11px;
  content: "";
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1.2em;
  bottom: 0.3em;
  z-index: 1;
  /* This hack makes the select behind the arrow clickable in some browsers */
  pointer-events: none;
}
/* Hover style - tricky because we're clipping the overflow */
.dropdown:hover {
  // border: 2px solid #000;
}
/* Focus style */
select:focus {
  outline: none;
}
/* This hides focus around selected option in FF */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
 ::-webkit-input-placeholder {
  color: @orange;
  font-weight: normal;
  font-style: italic;
}
 :-moz-placeholder {
  /* Firefox 18- */
  color: @orange;
  font-weight: normal;
  font-style: italic;
}
 ::-moz-placeholder {
  /* Firefox 19+ */
  color: @orange;
  font-weight: normal;
  font-style: italic;
}
 :-ms-input-placeholder {
  color: @orange;
  font-weight: normal;
  font-style: italic;
}
input:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.stepperInput {
  display: flex;
  justify-content: flex-end;
}
input.stepperInput__input {
  height: auto;
  border-left: 0;
  border-right: 0;
  width: 40px;
  text-align: center;
  box-shadow: none;
  margin: 0;
    padding: 5px;
}
.btn-step {
  cursor: pointer;
  padding: 3px 12px;
  color: #FFFFFF;
  background-color: @orange;
  font-size: 12px;
}

@media(min-width: 600px) {
  input.stepperInput__input {
    padding: 10px;
    width: 60px;
  }
  .btn-step {
    padding: 5px 18px;
    font-size: 16px;
  }
}
