// main: styles.less

.home-page {
  .main {
    padding-top: 60px;
  }
}

.home-layout {
  width: 100%;
}

.intro {
  width: 100%;
  max-width: 700px;
  padding: 40px 10px;
  margin: 0 auto;
  text-align: center;

  p {
    .font-size(20, 26);
    font-style: italic;
    font-weight: 600;
    margin: 0 0 1.5em;
  }

  a.more-link {
    display: block;
    margin-top: 24px;
  }
  @media(min-width: 658px) {
    padding: 80px 20px;
  }
  @media(min-width: 460px) {
    width: 78.5%;
    padding: 80px 20px;
  }
}

.home-content {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
  @media(min-width: 460px) {
    width: 78.5%;
    padding: 0;
  }

  .home-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .link {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    @media(min-width: 828px) {
      width: 49%;
    }
  }

  img {
    max-width: 100%;
  }

  .link-content {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
  }

  .link-content:hover {
    background-color: rgba(0,0,0,0);
  }

  h2,
  h3 {
    color: #FFF;
  }

  h2 {
    .font-size(24,28);
    text-align: center;
  }

  h3 {
    font-family: @arialFont;
    .font-size(14,14);
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }

  h4 {
    font-family: @arialFont;
    .font-size(14,14);
    letter-spacing: 1px;
  }

  .shop {
    text-align: center;

    h2,
    h3 {
      color: @brown;
    }

    h2 {
      margin: 0.2em 0;
    }

    h3 {
      display: inline-block;
      border-color: @brown;
    }
  }
}

.gallery-featured {
  position: relative;
  overflow: hidden;

  .gallery-cell {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
  }

  .owl-stage {
    display: flex;
  }

  .owl-item {
    line-height: 0;
  }

  .owl-dots {
    display: none;
    @media(min-width: 520px) {
      display: block;
    }
  }

  .slide-message {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    z-index: 20;
    text-align: center;
    div {
      margin-top: 25%;
      @media(min-width: 500px) {
        margin-top: 15%;
      }
      @media(min-width: 1080px) {
        margin-top: 5%;
      }
    }
    h3 {
      color: white;
      .font-size(28,28);
      display: none;
      max-width: 800px;
      @media(min-width: 830px) {
        display: block;
      }
      @media(min-width: 918px) {
        .font-size(46,46);
      }
    }
    .btn {
      display: inline-block;
      margin-top: 1em;
      border-color: white;
      color: white;
      padding: 0.8em 1em;
      @media(min-width: 400px) {
        padding: 1.3em 2.5em;
      }
    }
  }

  .logo-wrapper {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 19;
    @media(min-width: 800px) {
      top: 40px;
    }
  }

  .full-logo {
    width: 100px !important;
    @media(min-width: 388px) {
      width: 120px !important;
    }
    @media(min-width: 600px) {
      width: 150px !important;
    }
    @media(min-width: 756px) {
      width: 200px !important;
    }
  }

  .offer {
    background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1280,q_70/bailey/img/featured/offer-faded.jpg");
    @media(min-width: 500px) {
      background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_800,q_70/bailey/img/featured/offer-faded.jpg");
    }
    @media(min-width: 800px) {
      background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1000,q_70/bailey/img/featured/offer-faded.jpg");
    }
    @media(min-width: 1000px) {
      background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1280,q_70/bailey/img/featured/offer-faded.jpg");
    }
  }
}

.offer-details {
  max-width: 580px;
  text-align: center;
  padding: 0 10px;

  h1 {
    .font-size(21,21);
    color: @green;
    @media(min-width: 568px) {
      .font-size(42,42);
    }
    @media(min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
      .font-size(18,18);
    }
  }

  p {
    margin: 2em 0;
    .font-size(16,18);
    @media(min-width: 568px) {
      .font-size(21,24);
    }
    @media(min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
      margin: 0.5em 0;
      .font-size(14,16);
    }
  }

  .btn {
    background-color: @orange;
  }

  .btn:hover {
    background-color: @brown;
    color: #fff;
  }

  .scroll-icon {
    display: block;
    @media(min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
      display: none;
    }
  }
}
