// main: styles.less
.icon {
  fill: #B1AFAD;
  width: 26px;
  height: 26px;
}
.close-icon {
  width: 22px;
  height: 22px;
}

.read-more-icon {
  width: 22px;
  height: 22px;
  fill: #FFF;
}

.read-more-icon.dark {
  fill: @brown;
}

.portland-works-icon {
  width: 166px;
  height: 80px;
  fill: #FFF;
}
