// main: styles.less

.footer,
.top-bar,
.wrapper {
  display: flex;
}

.wrapper {
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  padding: 20px 10px 0;
  width: 100%;
  margin: 0 auto;
  display: block;

  header {
    flex: 0 0 100%;

    h2 {
      text-align: center;
      .font-size(24, 32);
      margin: 20px auto;
    }
  }
  @media(min-width: 658px) {
    padding: 83px 20px 0;
  }
  @media(min-width: 1024px) {
    width: 68%;
    padding: 83px 0 0;
    margin: 0 auto;
  }
}

.error-page {
  h1 {
    .font-size(32,32);
    text-align: center;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 60px;
  background: transparent;
  transition: background 0.5s;
  @media(min-width: 658px) {
    height: 120px;
  }
}

.cart-page,
.checkout-page,
.shop-custom {
  .header {
    background: #f5f5f5;
  }
}

.home-page {
  .header {
    background: rgba(255,255,255,0.8);
  }
}

.top-bar {
  width: 100%;
  height: 60px;
  background-color: @brown;
  line-height: 60px;
  flex-flow: row wrap;
  justify-content: space-between;

  a,
  a:visited {
    color: @lightgrey;
    text-transform: uppercase;
    display: block;
  }

  .cart {
    flex-grow: 1;
    margin-right: 45px;
    @media(min-width: 658px) {
      flex-grow: 0;
      margin-right: 0;
    }
  }
  @media(min-width: 658px) {
    padding: 0 20px;
  }
}


.main {
  padding-top: 60px;
  padding-bottom: 120px;
  width: 100%;
  flex: 1 0 auto;
}

.mini-logo {
  width: 50px;
}

.full-logo {
  fill: @brown;
  margin: 0 auto 60px;
  display: block;
}

.promotion {
  background-color: @green;
  text-align: center;
  color: white;
  padding: 10px;

  h2,
  h3,
  p {
    color: white;
    margin: 0 !important;
  }

  h2 {
    .font-size(18, 18) !important;
    @media(min-width: 658px) {
      .font-size(26, 26) !important;
    }
  }

  h3 {
    .font-size(14, 14) !important;
    @media(min-width: 658px) {
      .font-size(18, 18) !important;
    }
  }
}

.home-page {
  .featured {
    @media(min-width: 658px) {
      margin-top: 60px;
    }
  }
}

.has-offer-banner {
  .home-page {
    .promotion {
      @media(min-width: 658px) {
        margin-top: 60px;
      }
    }

    .featured {
      @media(min-width: 658px) {
        margin-top: 0;
      }
    }
  }
}
