// main: styles.less

.account-login {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  .user-login {
    margin-right: 0;
    margin-bottom: 2em;
  }
  .user-login,
  .create-account {
    width: 100%;
  }
  .guest-checkout {
    margin-top: 2em;
    text-align: center;
    flex: 0 0 100%;
    p {
      padding: 10px 0;
      .font-size(14,14);
    }
    .submit-link {
      margin: 0 auto;
    }
  }
  .forgot-password {
    text-align: center;
    display: block;
    margin-top: 1em;
  }
}

.login-form-layout {
  display: flex;
  flex-flow: row wrap;
  flex: none;
  justify-content: space-between;
}

#forgot-form, #reset-form {
  max-width: 500px;
  margin: 0 auto;
  p {
    text-align: center;
  }
}

@media(min-width: 800px) {
  .account-login {
    width: 68%;
    header {
      h2 {
        margin: 40px auto 40px;
      }
    }
    .user-login {
      margin-right: 2%;
      margin-bottom: 0;
    }
    .user-login,
    .create-account {
      width: 49%;
    }
  }
}
