// main: styles.less

.lookbook {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.look-item {
  margin-bottom: 1em;
}
.grid-sizer, .look-item {
  width: 100%;
}

.look-item--width2 { width: 100%; }

.look-info {
  padding: 10px 0 0;
  text-align: center;
  p {
    .font-size(16,16)
  }
}

@media(min-width: 600px) {
  .grid-sizer, .look-item {
    width: 49%;
  }
  .look-item--width2 { width: 100%; }
  .gutter-sizer {
    width: 2%;
  }
}

@media(min-width: 900px) {
  .grid-sizer, .look-item {
    width: 23.5%;
  }
  .look-item--width2 { width: 49%; }
  .gutter-sizer {
    width: 2%;
  }
}
