// main: styles.less

.mobile-menu-icon {
  .cssSprite(@menu);
  text-indent:-9999px;
  display: block;
  margin: 18.5px 15px;
  @media(min-width: 658px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: @brown;
  z-index: 21;
  display: flex;
  opacity: 0;
  max-height: 0;
  visibility:hidden;
  align-items: center;
  justify-content: center;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  ul {
    width: 90%;
  }
  li {
    text-align: center;
    margin-bottom: 5vh;
    a {
      color: white;
      .font-size(18, 18);
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
body.show-mobile-menu {
  overflow: hidden;
  position:fixed;
  width: 100%;
  height: 100%;
}
.show-mobile-menu .mobile-menu {
  visibility:visible;
  opacity: 1;
  overflow-y: hidden;
  max-height: 100%;
  max-height: calc(~"100vh - 60px");
}
.main-menu {
  margin: 21px auto 0;
  display: none;
  ul {
    text-align: center;
  }
  li {
    display: inline-block;
    height: 20px;
    line-height: 23px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid @brown;
  }
  li:last-child {
    border-right: 0;
  }
  a {
    .font-size(14, 14);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: @brown;
    padding-bottom: 3px;
  }
  li.active {
    a {
      border-bottom: 1px solid @brown;
    }
  }
}
// .home-page {
//   .main-menu {
//     li {
//       border-color: #fff;
//     }
//     li.active {
//       a {
//         border-bottom: 1px solid #fff;
//       }
//     }
//     a {
//       color: #fff;
//     }
//   }
// }
.bar-menu  {
  .main-menu {
    li {
      border-color: @brown;
    }
    li.active {
      a {
        border-bottom: 1px solid @brown;
      }
    }
    a {
      color: @brown;
    }
  }
}
.account-menu {
  li {
    display: inline-block;
    height: 8px;
    line-height: 8px;
  }
}
.cart-menu {
  text-align: center;
  li {
    display: inline-block;
    height: 8px;
    line-height: 8px;
    padding: 0 5px;
    color: @lightgrey;
    text-transform: uppercase;
    border-right: 1px solid @lightgrey;
  }
  li:last-child {
    border-right: 0;
  }
  li.not-mobile {
    display: none;
  }
}
.social {
  display: none;
  li {
    height: 26px;
    line-height: 26px;
    padding-left: 3px;
    margin-top: 17px;
  }
  @media(min-width: 658px) {
    flex-flow: row wrap;
    justify-content: flex-end;
    display: flex;
  }
}
.f-logo {
  .white-logo {
    width: 68px;
    margin: 0;
    fill: #FFF;
  }
  p {
    position: absolute;
    bottom: 0;
  }
}
.f-item {
  li {
    a {
      color: @lightgrey;
      .font-size(14, 20);
      font-style: normal;
      font-weight: 500;
      font-family: @archerFont;
    }
  }
  h3 {
    text-transform: uppercase;
    color: @lightgrey;
    .font-size(16, 16);
    margin-bottom: 5px;
  }
  p,
  a {
    color: @lightgrey;
    .font-size(14, 20);
    font-style: normal;
    font-weight: 500;
    font-family: @archerFont;
  }
}
.f-main {
  li {
    margin-bottom: 20px;
    a {
      text-transform: uppercase;
      color: #fff;
      .font-size(16, 16);
      font-family: @arialFont;
    }
  }
  .social {
    justify-content: flex-start;
    li {
      margin: 0;
      padding: 0 10px 0 0;
    }
    .icon {
      fill: #FFFFFF
    }
  }

}
