// main: styles.less

//
// Variables for em / rem use
//

@base_px: 16; //set to the most common base px size used in browsers, should generally be left at default

@toRems: (1 / @base_px) + 0rem; //allows you to set values as the default px size to target, which is then converted into scalable rem values.

@toEms: (1 / @base_px) + 0em; //same as above, but with em values


.font-size(@fontSize, @lineHeight) {
  @remValue: (@fontSize / 10);
  @pxValue: @fontSize;
  @lineValue: (@lineHeight / @fontSize);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
  line-height: ~"@{lineValue}";
}

.cssSprite( @spriteVals ) {
	width: extract( @spriteVals, 1 );
	height: extract( @spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: e( %( 'url(%s)', extract( @spriteVals, 3 ) ) );
	background-position: extract( @spriteVals, 4 ) extract( @spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: e( %( 'url(%s)', extract( @spriteVals, 6 ) ) );
		background-size: @bgiSizeW @bgiSizeH;
	}
}
@icon-spritePath: '/img/icon-sprite';
@icon-spriteURL: '@{icon-spritePath}.png';
@icon-spritex2URL: '@{icon-spritePath}@2x.png';
@bgiSizeW: 470px;
@bgiSizeH: 461px;
@menu: 30px 23px @icon-spriteURL -342px -324px @icon-spritex2URL;
@arrow-right-xs: 20px 20px @icon-spriteURL -270px -320px @icon-spritex2URL;
@logo-small-white: 68px 66.92063492063492px @icon-spriteURL -187px -319px @icon-spritex2URL;
@logo-small: 126px 124px @icon-spriteURL -3px -60px @icon-spritex2URL;
@checkout: 70px 70px @icon-spriteURL -87px -319px @icon-spritex2URL;
@buy: 70px 70px @icon-spriteURL -1px -319px @icon-spritex2URL;
@logo-full: 298px 240px @icon-spriteURL -146px -60px @icon-spritex2URL;
@pinterest-white: 35px 25px @icon-spriteURL -415px 0px @icon-spritex2URL;
@pinterest-grey: 35px 25px @icon-spriteURL -360px 0px @icon-spritex2URL;
@twitter-white: 33px 23px @icon-spriteURL -320px 0px @icon-spritex2URL;
@twitter-grey: 33px 23px @icon-spriteURL -270px 0px @icon-spritex2URL;
@close: 40px 40px @icon-spriteURL -210px 0px @icon-spritex2URL;
@info: 20px 20px @icon-spriteURL -296px -320px @icon-spritex2URL;
@arrow-right-orange-xs: 20px 20px @icon-spriteURL -170px 0px @icon-spritex2URL;
@arrow-right-orange: 30px 30px @icon-spriteURL -120px 0px @icon-spritex2URL;
@arrow-right: 40px 40px @icon-spriteURL -60px 0px @icon-spritex2URL;
@arrow-left: 40px 40px @icon-spriteURL 0px 0px @icon-spritex2URL;
