// main: styles.less
body.modal-open {
  overflow: hidden;
}

#ouibounce-modal, .brown-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
  .modal-underlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: @brown;
    width: 100%;
    height: 100%;
  }
  .modal-content {
    background-color: @brown;
    width: 100;
    padding: 3em 40px;
    @media(min-width: 658px) {
      width: 600px;
      padding: 3em 10px;
    }
  }
  .mini-logo {
    fill: #FFF;
  }
  .close-model {
    position: absolute;
    top: 10px;
    right: 10px;
    @media(min-width: 658px) {
      top: 20px;
      right: 20px;
    }
  }
  .close-icon {
    fill: #FFF;
    width: 20px;
    height: 20px;
    @media(min-width: 658px) {
      width: 40px;
      height: 40px;
    }
  }
  input {
    border: 1px solid @orange;
  }
  p {
    text-align: center;
    color: #fff;
    .font-size(16, 16);
  }
  label {
    color: #fff;
  }
  .btn {
    background-color: @orange;
  }
  .datefield {
    background: #FFF;
    border: 1px solid @orange;
    .font-size(14, 18);
    margin-bottom: 1em;
    input {
      height: auto;
      padding: 0;
      border: 0;
      width: auto;
      display: inline-block;
      width: 1.7em;
    }
    .subfield {
      .font-size(14, 18);
      font-family: @arialFont;
      font-style: italic;
      height: 40px;
      padding: 10px;
      line-height: 40px;
    }
  }
}
.brown-modal {
  display: block;
  h2 {
    color: white;
    .font-size(21, 21);
    text-align: center;
    margin-bottom: 1em;
  }
  .modal-form {
    input[type=radio] + label:before {
      border-color: white;
    }
    input[type=radio]:checked + label:before {
      background-color: white;
    }
  }
  form {
    padding: 1em 0;
    p {
      text-align: left;
    }
    .form-group {
      margin-bottom: 3em;
    }
  }
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
  .modal-underlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  .modal-content {
    background-color: #fff;
    width: 100;
    overflow: scroll;
    padding: 3em 40px;
    @media(min-width: 658px) {
      width: 600px;
      padding: 3em 10px;
    }
  }
  .close-model {
    position: absolute;
    top: 10px;
    right: 10px;
    @media(min-width: 658px) {
      top: 20px;
      right: 20px;
    }
  }
  .close-icon {
    fill: @brown;
    width: 20px;
    height: 20px;
    @media(min-width: 658px) {
      width: 40px;
      height: 40px;
    }
  }
  input {
    border: 1px solid @orange;
  }
  h1 {
    .font-size(24, 24);
    font-weight: @archerSemibold;
    margin-bottom: 1em;
  }
  p {
    text-align: left;
    font-family: @arialFont;
  }
}
#modal.show,
#ouibounce-modal.show {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
#modal.show {
  display: block;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
