// main: styles.less
/* Common, default styles for the notification box */
.ns-box {
  position: fixed;
  background: rgba(42,45,50,0.95);
  padding: 22px;
  line-height: 1.4;
  z-index: 1000;
  pointer-events: none;
  color: rgba(250,251,255,0.95);
  font-size: 90%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.ns-box.ns-show {
  pointer-events: auto;
}

.ns-box.ns-type-error {
  background: @red;
}

.ns-box.ns-type-notice {
  background: @green;
}

.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}
.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}
.ns-box p {
  margin: 0;
}
.ns-box h3 {
  color: #fff;
  .font-size(18, 18);
}
.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}
.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ns-close:hover,
.ns-close:focus {
  outline: none;
}
.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #fff;
}
.ns-close:hover::before,
.ns-close:hover::after {
  background: #ccc;
}
.ns-close::before {
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg);
}
.ns-close::after {
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
}
/* To bar notifications */
.ns-box.ns-bar {
  top: 60px;
  left: 0;
  width: 100%;
}
.ns-bar .ns-close {
  background: transparent;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #fff;
}
[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
/* Individual Effects */
/* Slide on top */
.ns-effect-slidetop {
  box-shadow: inset 4.5em 0 rgba(0,0,0,0.6);
}
.ns-effect-slidetop .icon {
  position: absolute;
  display: block;
  font-size: 135%;
  top: 50%;
  left: 1em;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
.ns-effect-slidetop p {
  padding: 0 3.2em;
  font-size: 1.2em;
  display: inline-block;
}
.ns-effect-slidetop .ns-close::before,
.ns-effect-slidetop .ns-close::after {
  width: 2px;
  background: #14151b;
}
.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #fff;
}
.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animScaleUp;
  animation-name: animScaleUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}
@-webkit-keyframes animScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1);
  }
}
@keyframes animScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1);
    transform: translate3d(0,-50%,0) scale3d(0,0,1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1);
    transform: translate3d(0,-50%,0) scale3d(1,1,1);
  }
}
.ns-effect-slidetop.ns-show,
.ns-effect-slidetop.ns-hide {
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  animation-timing-function: cubic-bezier(0.7,0,0.3,1);
}
@-webkit-keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
@keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
/* Expanding Loader */
.ns-effect-exploader {
  background: #fff;
  color: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.ns-effect-exploader .icon {
  position: absolute;
  left: 0.25em;
  top: 50%;
  font-size: 135%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
.ns-effect-exploader .ns-box-inner {
  position: relative;
}
.ns-effect-exploader p {
  padding: 0.25em 2em 0.25em 3em;
}
.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
  background: #98815a;
}
.ns-effect-exploader.ns-show {
  -webkit-animation-name: animLoad;
  animation-name: animLoad;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes animLoad {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0,0.3,1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale3d(0.5,0.3,1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(0.6,0.3,1);
  }
  80%,
  85% {
    opacity: 1;
    -webkit-transform: scale3d(1,0.3,1);
    -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
  }
}
@keyframes animLoad {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0,0.3,1);
    transform: scale3d(0,0.3,1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale3d(0.5,0.3,1);
    transform: scale3d(0.5,0.3,1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(0.6,0.3,1);
    transform: scale3d(0.6,0.3,1);
  }
  80%,
  85% {
    opacity: 1;
    -webkit-transform: scale3d(1,0.3,1);
    transform: scale3d(1,0.3,1);
    -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
    animation-timing-function: cubic-bezier(0.7,0,0.3,1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}
.ns-effect-exploader.ns-hide {
  -webkit-animation-name: animFade;
  animation-name: animFade;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}
.ns-effect-exploader.ns-show .ns-box-inner {
  -webkit-animation-name: animFadeMove;
  animation-name: animFadeMove;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes animFadeMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}
@keyframes animFadeMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
