// main: styles.less
.page-header {
  text-align: center;
  border-bottom: 1px solid @orange;
  padding-bottom: 4em;
  margin-bottom: 2em;
  img {
    max-width: 105px;
  }
}
.page {
  h1 {
    text-align: center;
    .font-size(24, 32);
    font-weight: @archerSemibold;
    margin-bottom: 2em;
  }
  h4 {
    .font-size(20, 32);
  }
  p {
    font-family: @arialFont;
  }
  p.image-pair {
    margin-top: 2em;
    img:first-child {
      margin-bottom: 1em
    }
    @media(min-width: 550px) {
      img {
        float: left;
        width: 49%;
      }
      img:first-child {
        margin-right: 2%;
        margin-bottom: 0;
      }
    }
  }
  ul {
    .font-size(14, 18);
    font-family: @arialFont;
    margin-left: 25px;
    margin-bottom: 1em;
    li {
      list-style: disc;
      margin-left: 10px;
    }
  }
}

.video-region {
  margin-bottom: 1em;
}
