// main: styles.less
//Nav-bar break
.not-mobile {
  display: none;
}
@media(min-width: 500px) {

  .footer {
    .f-item {
      width: 49%;
    }
    .social {
      display: flex;
    }
  }
  .product-info {
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .info-box {
      width: 46%;
    }
  }
}
@media(min-width: 658px) {
  .not-mobile {
    display: block;
  }
  .cart-menu li.not-mobile {
    display: inline-block;
  }
  .main-menu {
    display: block;
  }
  .mini-logo {
    width: 124px;
    margin-bottom: 40px;
  }
  .bar-menu {
    .header {
      background: #fff;
    }
  }
}
@media(min-width: 768px) {

  .product-info {
    .info-box {
      width: 48%;
    }
    .info-box.wide {
      width: 100%;
    }
  }

  .footer {
    .f-logo {
      display: block;
    }
    .f-item {
      width: 15%;
    }
  }
}

@media(min-width: 980px) {

  .product-info {
    .info-box {
      width: 49%;
    }
    .info-box.wide {
      width: 100%;
    }
  }

  .footer {
    .f-main {
      display: block;
    }
  }
}
