// main: styles.less

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .review-item {
    width: 100%;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid @orange;
    text-align: center;

    p {
      .font-size(21, 24);
    }

    .customer {
      .font-size(14, 14);
      font-weight: bold;
    }
  }

  .review-item:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}
@media(min-width: 756px) {
  .reviews {
    .review-item {
      width: 48%;
    }

    .review-item:nth-child(2n+1):nth-last-child(-n+2),
    .review-item:nth-child(2n+1):nth-last-child(-n+2) ~ .review-item {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}
