// main: styles.less
// Product listings

.christmas-message {
  background-color: @red;
  padding: 10px;
  color: white;
  .font-size(16,16);
  margin: 1em 0;

  p {
    margin: 0;
  }
}

.product-filter {
  width: 16.2579957%;
  margin-right: 1.06609808%;
  height: 100px;
}

.product-list header {
  position: fixed;
  width: 65.35181244%;
  background: #fff;
  overflow: hidden;
  top: 143px;
}

.product-nav {
  margin-top: 40px;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    li {
      width: 49%;
      text-align: center;
      border-bottom: 1px solid @lightgrey;
      padding: 5px 0;

      a {
        color: @lightgrey;
        font-family: @archerFont;
        font-weight: @archerMedium;
        .font-size(18, 18);
        text-transform: uppercase;
        @media(min-width: 658px) {
          .font-size(24, 24);
        }
      }
    }

    li.active {
      border-color: @orange;

      a {
        color: @orange;
      }
    }
  }
}

.product-list {
  justify-content: flex-start;

  h2 {
    margin: 60px auto 0;
    text-align: center;
    .font-size(21, 24);
  }

  h3 {
    margin: 0 auto;
    text-align: center;
    .font-size(18, 18);
    color: @red;
    font-weight: 700;
  }
  .section-description {
    text-align: center;
    .font-size(16, 18);
  }
}

.product-item {
  a {
    color: @brown;
  }

  .old-price,
  .price {
    font-weight: bold;
    .font-size(14, 16);
  }

  .old-price {
    color: @red;
    text-decoration: line-through;
  }
}

p.old-price {
  color: @red;
  font-weight: bold;
  .font-size(14, 16);
  font-family: inherit;
}

.accessories,
.beads,
.cables,
.christmas,
.curated {
  margin-top: 20px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }

  li {
    text-align: center;
    margin-bottom: 1.8em;
    min-width: 0;
  }
}

.cables {
  li {
    flex: 0 1 100%;
    @media(min-width: 500px) {
      flex: 0 1 49%;
      width: 49%;
    }
  }

  h2 {
    .font-size(18, 20);
    margin-top: 10px;
  }

  p {
    .font-size(14, 16);
    font-family: @arialFont;
    margin-bottom: 2px;
  }
}

.accessories,
.beads,
.christmas {
  li {
    order: 0;
    align-self: flex-start;
    flex: 0 1 100%;
    @media(min-width: 500px) {
      order: 0;
      flex: 0 1 49%;
      align-self: flex-start;
    }
  }

  h2 {
    .font-size(16, 16 );
    margin-top: 10px;
  }

  p {
    .font-size(14, 16);
    font-family: @arialFont;
    margin-bottom: 2px;
  }
}
@media(min-width: 868px) {
  .beads {
    li {
      order: 0;
      flex: 0 1 23.5%;
      align-self: flex-start;
    }
  }

  .accessories,
  .christmas {
    li {
      order: 0;
      flex: 0 1 18.4%;
      align-self: flex-start;
    }
  }
}

.free-shipping {
  border-top: 1px solid @brown;
  border-bottom: 1px solid @brown;
  padding: 16px;
  margin-top: 20px;

  h2 {
    padding: 0;
    margin: 0;
  }
}
// Product details

.product-layout {
  width: 100%;
}

.product-show {
  .main {
    padding-top: 60px;
  }
}

.product-content {
  margin-top: 20px;

  .mini-logo {
    margin-bottom: 20px;
  }
  .video-wrapper {
    width: 86%;
    max-width: 728px;
    margin: 0 auto 2em;
  }
  article {
    display: flex;
    flex-flow: column nowrap;
  }

  p {
    .font-size(18, 24);
  }

  .price,
  .was-price, .sold-out {
    display: block;
    text-align: center;
    font-weight: bold;
    .font-size(14, 16);
    margin-bottom: 30px;
  }

  .price.on-sale {
    margin-bottom: 0;
  }

  .was-price {
    color: @red;
    text-decoration: line-through;
    margin-bottom: 30px;
  }

  .sold-out {
    color: @red;
    margin-bottom: 30px;
  }
  .content {
    width: 86%;
    padding: 40px 0;
    max-width: 478px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 65%;
  }

  .js-engraving,
  .js-size-guide {
    display: block;
    margin: 10px 0;
    .font-size(11,11);
  }

  .js-engraving {
    max-width: 170px;
    margin: 0 auto 1em;
    padding: 1.3em 2em;
  }

  .add-cart {
    margin-bottom: 10px;
  }

  .delivery-date {
    margin-bottom: 30px;
    .font-size(11,11);
  }

  h2 {
    text-align: center;
    .font-size(20, 24);
    margin-top: 1%;
  }

  h1 {
    text-align: center;
    font-weight: @archerSemibold;
    .font-size(24, 24);
  }
  @media(min-width: 658px) {
    margin-top: 60px;
  }
}

.product-header {
  overflow: hidden;
  width: 100%;
  background: #fff;

  .mini-logo {
    width: 8%;
    margin: 70px auto 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    display: none;
    @media(min-width: 658px) {
      margin: 260px auto 0;
    }
  }

  .product-carousel {
    text-align: center;
    margin-top: 2em;
  }
}

.fade-header {
  .mini-logo {
    opacity: 0;
  }
}

.product-info {
  width: 86%;
  max-width: 728px;
  margin: 0 auto;

  .info-box {
    border-top: 1px solid @orange;
    width: 100%;
    padding: 6px 0 30px;

    .in-the-box {
      margin-top: 1em;
    }
  }

  h3 {
    .font-size(20, 32);
  }

  ul {
    margin-bottom: 1em;
  }

  li,
  p {
    font-family: @arialFont;
    .font-size(14, 18);
  }

  li {
    margin-bottom: 0.3em;
    margin-left: 1.1em;
    list-style: disc;
  }

  .more-link {
    width: 20px;
    height: 20px;
    margin: 0 0 12px;
  }
}

.product-image-extra {
  width: 86%;
  max-width: 728px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .image-cell {
    width: 100%;
    margin-bottom: 1em;
    @media(min-width: 658px) {
      width: 49%;
      margin-bottom: 0;
    }
  }
}

.product-sizes {
  li {
    display: inline-block;

    .soldout,
    button,
    button.product-select {
      display: block;
      border: 1px solid @orange;
      height: 40px;
      line-height: 40px;
      .font-size(13, 40);
      padding: 0 18px;
    }

    .soldout.size,
    button.size {
      width: 40px;
      padding: 0;
    }

    .soldout {
      border-color: @lightgrey;
      color: @lightgrey;
      position: relative;

      p {
        position: absolute;
        bottom: 3px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        font-family: @arialFont;
        font-size: 7px;
        line-height: 6px;
      }
    }

    button.selected {
      background: @orange;
    }

    button:hover {
      background-color: lighten(@orange, 10%);
    }
  }
}

.product-recommend {
  margin-bottom: 40px;
  display: none;
  background: #f5f5f5;

  h3 {
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }

  .owl-item {
    background: #fff;
    padding: 10px;
    margin: 0 10px;
  }

  .owl-stage {
    display: flex;
  }

  .btn-group {
    margin-top: 40px;
  }

  .included {
    .font-size(12,12);
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  .price {
    margin-top: 0 !important;
  }
}

.product-recommend.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(~"100vh - 60px");
  max-height: 680px;
  @media(min-width: 658px) {
    height: calc(~"100vh - 120px");
  }
}

.product-recommend-wrapper {
  max-width: 100vw;
}

.recommend-carousel {
  display: block;
  flex-grow: 0;

  .owl-item {
    position: relative;
  }
}
