// main: styles.less

.story-layout {
  max-width: 728px;
  #logo_svg {
    fill: @brown;
    max-width: 298px;
  }
}

.story-links {
  margin: 60px auto 0;
}

.story {
  h3 {
    text-align: center;
    margin-bottom: 1em;
  }
  .video-wrapper {
    margin-bottom: 1em;
  }
}

.portland-logo {
  margin: 0em auto 3em;
  display: block;
}

.story-link-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .link {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 2%;
    overflow: hidden;
    @media(min-width: 555px) {
      width: 49%;
    }
  }
  .link-content {
    position: absolute;
    width: 100%;
    height:99%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0,0,0,0.4);
  }
  .link-content:hover {
    background-color: rgba(0,0,0,0.2);
  }
  h2, h3 {
    color: #FFF;
  }
  h2 {
    .font-size(24,28);
    text-align: center;
  }
  h3 {
    font-family: @arialFont;
    .font-size(14,14);
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }
}

.portland-images {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  .image {
    flex: 0 0 32.6666%;
  }
}
