// out: ../../styles/frontend.css, compress: false
@import "standardize";
@import "variables";
@import "mixin";
@import "cookie";
@import "layout";
@import "footer";
@import "form";
@import "menu";
@import "icons";
@import "content";
@import "home";
@import "shop";
@import "engraving";
@import "story";
@import "page";
@import "owl";
@import "cart";
@import "checkout";
@import "progress";
@import "login";
@import "workshop";
@import "lookbook";
@import "custom";
@import "account";
@import "notification";
@import "tooltip";
@import "modal";
@import "review";
@import "responsive";

html,
body {
  height: 100%;
}
html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  color: @brown;
}
body {
  background: #fff;
}
body.checkout-page,
body.cart-page, body.bg-grey {
  background: #f5f5f5;
}
p {
  margin-bottom: 1em;
  font-family: @archerFont, Georgia, Times, 'Times New Roman', serif;
  font-weight: @archerBook;
  .font-size(14, 18);
}
p.italic {
  font-style: italic;
}
p.help-block {
  width: 100%;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4 {
  font-family: @archerFont, Georgia, Times, 'Times New Roman', serif;
  font-weight: @archerBook;
  font-style: normal;
  color: @brown;
  text-transform: uppercase;
}
h3 {
  .font-size(20, 32);
}
a,
a:visited {
  color: @brown;
}
a:hover {
  color: lighten(@brown, 20%);
}
.logo {
  width: 104px;
  height: 123px;
  fill: @brown;
  margin: 15px auto 0;
  display: block;
}
table {
  width: 100%;
}
td,
th {
  vertical-align: top;
  padding: 5px;
}
td.text-right {
  text-align: right;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(~"100vh - 60px");
  .item, svg {
    width: 60px;
    height: 60px;
  }
}
