// out: ../../styles/upgrade.css, compress: true
@import "standardize";
@import "variables";
@import "mixin";

h1,
h2,
h3,
h4 {
  font-family: @archerFont, Georgia, Times, 'Times New Roman', serif;
  font-weight: @archerBook;
  font-style: normal;
  color: @brown;
  text-transform: uppercase;
}

h1 {
  .font-size(18, 18);
  margin-bottom: 1em;
}

h2 {
  .font-size(14, 14);
}

.content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
  img {
    margin-bottom: 1em;
  }
}
