// main: styles.less

@brown: rgb(62, 57, 53);
@browntrans: rgba(62, 57, 53, 0.8);
@orange: rgb(237, 186, 0);
@red: rgb(166, 25, 46);
@green: rgb(25, 164, 73);
@orangetrans: rgba(237, 186, 0, 0.6);
@lightgrey: rgb(178, 176, 174);
@darkgrey: rgb(158, 156, 154);
@archerFont: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
@arialFont: Arial, 'Helvetica Neue', Helvetica, sans-serif;
@archerLight: 400;
@archerBook: 500;
@archerMedium: 600;
@archerSemibold: 700;
