// main: styles.less
body.workshop {
  background-image: url('/img/workshop/workshop-bg.jpg');
  background-repeat: repeat;
  .header {
    background: transparent;
  }
}
.workshop-layout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  header {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .workshop-nav, .workshop-links {
    width: 354px;
  }
  .posts {
    flex: 1;
  }
  .workshop-nav {
    text-align: center;
    padding: 0 1em;
    img {
      width: 215px;
      margin-bottom: 1.5em;
    }
    p {
      .font-size(20, 24);
    }
  }
  .workshop-links {
    img {
      margin-bottom: 1em;
    }
  }
}

.post-item {
  padding: 0 1.5em;
  text-align: center;
  h2 {
    margin: 0.5em 0 0.5em;
    .font-size(30, 30);
    font-weight: @archerSemibold;
  }
  p {
    .font-size(16, 18);
    max-width: 478px;
    margin: 0 auto;
  }
}
