{{#ifvalue slug value="portland-works" }}
  {{> miniLogo }}
  <img class="portland-logo" src="/img/workshop/workshop-logo.png" alt="" />
  {{else}}
    {{> svgLogo }}
{{/ifvalue}}
<article class="story">
  {{{page.body}}}
  {{#ifvalue slug value="meet-the-team" }}
    <img src="/img/meet-the-team.jpg" alt="Meet the Team" />
  {{/ifvalue}}
  {{#ifvalue slug value="our-sheffield" }}
    <div class="video-wrapper">
      <video id="video" poster="{{cloudUrl "c_crop,w_728,h_408" "img/sheffield-2.jpg"}}" controls>
        <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1465994074/bailey/video/our-sheffield.webm" type="video/webm" />
        <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1465994074/bailey/video/our-sheffield.mp4" type="video/mp4" />
        <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/v1465994074/bailey/video/our-sheffield.ogv" type="video/ogv" />
      </video>
      <div class="video-overlay">
        <img class="video-play" src="/svg/play-white.svg" alt="" />
      </div>
    </div>
    <p>
      A film by Pawel Nazaruk
    </p>
  {{/ifvalue}}
  {{#ifvalue slug value="harry-stainless-steel" }}
    <img src="/img/harry.jpg" alt="Harry Brearley" />
  {{/ifvalue}}
</article>
<section class="story-links"></section>
