<a href="meet-the-team" class="link team">
  <img src="/img/story/team.jpg" alt="" />
  <div class="link-content">
    <h3>Profile</h3>
    <h2>Meet<br>the Team</h2>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="portland-works" class="link portland-works">
  <img src="/img/story/portland-works.jpg" alt="" />
  <div class="link-content">
    <h3>Full-Story</h3>
    <svg class="portland-works-icon">
      <use xlink:href="/svg/sprite.svg#portland-works" />
    </svg>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="our-sheffield" class="link sheffield">
  <img src="/img/story/sheffield-2.jpg" alt="" />
  <div class="link-content">
    <h3>Full-Story</h3>
    <h2>Our<br>Sheffield</h2>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="harry-stainless-steel" class="link harry">
  <img src="/img/story/harry.jpg" alt="" />
  <div class="link-content">
    <h3>Full-Story</h3>
    <h2>Harry &<br>Stainless Steel</h2>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
