<h3>Item added to bag</h3>
<div>
  <img src="{{cloudFormat "c_thumb,w_100,h_100,f_auto,q_auto" image.public_id}}" alt="{{product.title}}" />
  <div class="md-product">
    <h4>{{qty}} x {{product.title}}</h4>
    <p>
      {{decimalPrice product.price}}
    </p>
    {{#if product.size}}
    <p>
      Size: {{product.size}}
    </p>
    {{/if}}
  </div>
  <button class="md-continue">Continue shopping</button>
  <button class="md-cart">View bag</button>
</div>
