<button type="submit" class="close-panel">
  <svg class="icon close-icon">
    <use xlink:href="/svg/sprite.svg#close" />
  </svg>
</button>
<h2>Engraving Options</h2>
<p>
    Please select your engraving options. Price {{decimalPrice price}} per position.
</p>
<ul class="options"></ul>
<div class="engraving-total">
    <span class="price">Total: {{decimalPrice total}}</span>
</div>
