<div class="engraving-create" data-bind="toggle:createVisible">
  <div class="heading">
    <span>{{title}} </span><span class="item-total" data-bind="text:engravingTotal">
  </div>
  <div class="form-group">
    <input id="text" type="text" name="name" maxlength="{{max_letters}}" data-bind="value:text,events:['keyup']">
  </div>
  <div class="actions">
    <p>
      Max {{max_letters}} characters.
    </p>
    <button type="submit" class="engraving-add">
      <svg class="icon close-icon">
        <use xlink:href="/svg/sprite.svg#add" />
      </svg>
    </button>
  </div>

</div>
<div class="engraving-view" data-bind="toggle:editVisible">
  <div class="heading">
    <span>{{title}} </span><span class="item-total" data-bind="text:engravingTotal">
  </div>
  <h4 data-bind="text:text"></h4>
  <div class="actions">
  <button type="submit" class="engraving-edit">
    <svg class="icon close-icon">
      <use xlink:href="/svg/sprite.svg#edit" />
    </svg>
  </button>
  <button type="submit" class="engraving-delete">
    <svg class="icon close-icon">
      <use xlink:href="/svg/sprite.svg#close-fill" />
    </svg>
  </button>
  </div>
</div>
