<button type="submit" class="close-model">
  <svg class="icon close-icon">
    <use xlink:href="/svg/sprite.svg#close" />
  </svg>
</button>
<div class="modal-content">
  <h1>{{title}}</h1>
  {{{body}}}
</div>
