<div class="info-box{{#unless fields.0.in_box}} wide{{/unless}}">
  <h3>Technical</h3> {{{langField "en-gb" fields "technical"}}}
</div>
{{#if fields.0.in_box}}
<div class="info-box">
  <h3>In the box</h3> {{{langField "en-gb" fields "in_box"}}}
  {{#ifvalue product_type.title value="Cable™" }}
  <img class="in-the-box" src="{{cloudUrl "w_600,f_auto,q_auto" "img/inthebox.jpg"}}" alt="" sizes="(min-width:700px) 356px,(min-width:500px) 277px,(min-width:400px) 430px, 344px" srcset="{{cloudUrl "w_344,f_auto,q_auto" "img/inthebox.jpg"}} 344w,
          {{cloudUrl "w_430,f_auto,q_auto" "img/inthebox.jpg"}} 430w,
          {{cloudUrl "w_277,f_auto,q_auto" "img/inthebox.jpg"}} 277w,
          {{cloudUrl "w_356,f_auto,q_auto" "img/inthebox.jpg"}} 356w" alt="In the box" />
  {{/ifvalue}}
</div>
{{/if}}
<div class="info-box">
  {{> ordering }}
</div>
<div class="info-box">
  {{> afterCare }}
  <br>
  {{#ifvalue product_type.title value="Cable™" }}
    {{> traceable }}
  {{/ifvalue}}
</div>
