{{> miniLogo }}
{{#if settings.show_offer_banner}}
  {{> promo banner_title=settings.banner_title banner_subtitle=settings.banner_subtitle banner_info=settings.banner_info}}
{{/if}}
<header class="product-header">
  <div class="product-carousel">
    <img src="{{cloudFormat "w_600,h_350,c_pad,f_auto,q_auto" item.listing_image.public_id}}" sizes="(min-width:588px) 600px, (min-width:500px) 500px,(min-width:400px) 400px, 320px" srcset="{{cloudFormat "w_320,h_184,c_pad,f_auto,q_auto" item.listing_image.public_id}} 320w,
          {{cloudFormat "w_400,h_230,c_pad,f_auto,q_auto" item.listing_image.public_id}} 400w,
          {{cloudFormat "w_500,h_287,c_pad,f_auto,q_auto" item.listing_image.public_id}} 500w,
          {{cloudFormat "w_600,h_350,c_pad,f_auto,q_auto" item.listing_image.public_id}} 600w" alt="{{item.title}} - {{item.product_type.title}}" />
  </div>
</header>
<div class="content">
  <h2>{{item.product_type.title}}</h2>
  <h1>{{item.title}}</h1>
  {{#compare item.variations.length 1 operator=">" }}
    <!-- Multiple variation -->
    {{#if item.product_offer}}
      <span class="price on-sale">{{salePrice item.variations.0.price item.product_offer.sale_discount}}{{#compare engraving_qty 0 operator=">" }} + Engravings {{decimalPrice total}}{{/compare}}</span>
      <div class="was-price">
        Was {{decimalPrice item.variations.0.price}}
      </div>
    {{else}}
      <span class="price">{{decimalRange item.variations}}{{#compare engraving_qty 0 operator=">" }} + Engravings {{decimalPrice total}}{{/compare}}</span>
    {{/if}}

    {{#compare engraving_qty 0 operator=">" }}
      {{#if has_engravings}}
        <a href="javascript:;" class="btn js-engraving">Edit engraving</a>
      {{/if}}
      {{else}}
        {{#if has_engravings}}
          <a href="javascript:;" class="btn js-engraving">Add engraving</a>
        {{/if}}
    {{/compare}}
    <ul class="product-sizes">
      {{#each item.variations}}
        <li>
          {{#compare stock 0 operator="==" }}
            <span class="soldout {{#if size}} size {{/if}} ">
              {{#if size}}{{size}}{{else}}{{option_name}}{{/if}}
              <p>
                SOLD OUT
              </p>
            </span>
            {{else}}
              <button id="{{_id}}" class="product-select {{#if size}} size {{/if}} ">
                {{#if size}}{{size}}{{else}}{{option_name}} - {{decimalPrice price}}{{/if}}
              </button>
          {{/compare}}
        </li>
      {{/each}}
    </ul>
    <a href="javascript:;" class="js-size-guide">View size guide</a>
    <!-- End Multiple variation -->
    <button id="add-cart" type="submit" class="btn add-cart">Order Now</button>
    {{else}}
      <!-- Single variation -->
      {{#if item.product_offer}}
        <span class="price on-sale">{{salePrice item.variations.0.price item.product_offer.sale_discount}}{{#compare engraving_qty 0 operator=">" }} + Engravings {{decimalPrice total}}{{/compare}}</span>
        <div class="was-price">
          Was {{decimalPrice item.variations.0.price}}
        </div>
      {{else}}
        <span class="price">{{decimalPrice item.variations.0.price}}{{#compare engraving_qty 0 operator=">" }} + Engravings {{decimalPrice total}}{{/compare}}</span>
      {{/if}}
      {{#compare engraving_qty 0 operator=">" }}
        {{#if has_engravings}}
          <a href="javascript:;" class="btn js-engraving">Edit engraving</a>
        {{/if}}
        {{else}}
          {{#if has_engravings}}
              {{#compare item.variations.0.stock 0 operator="!=" }}
            <a href="javascript:;" class="btn js-engraving">Add engraving</a>
              {{/compare}}
          {{/if}}
      {{/compare}}

      {{#compare item.variations.0.stock 0 operator="!=" }}
        <button id="add-cart" type="submit" class="btn add-cart">Order Now</button>
        {{else}}
        <div class="sold-out">SOLD OUT</div>
      {{/compare}}
            <!-- End Single variation -->
  {{/compare}}

  {{#ifvalue item.parent_sku value="CHRISTMASTREEMESSAGE" }}
    <div class="christmas-message">
      <p>
        To have your message engraved on your tree simply email us after you've placed your order. Text is limited to 90 characters.
      </p>
    </div>
  {{/ifvalue}}
  {{#ifvalue item.parent_sku value="CHRISTMASTREEMESSAGEPACK" }}
    <div class="christmas-message">
      <p>
        To have your message engraved on your tree simply email us after you've placed your order. Text is limited to 90 characters.
      </p>
    </div>
  {{/ifvalue}}
  {{{langField "en-gb" item.fields "body"}}}
</div>
<div class="product-recommend"></div>
{{#if item.main_images.length}}
  <div class="product-image-extra">
    {{#each item.main_images}}
      <div class="image-cell"><img src="{{cloudFormat "w_600,f_auto,q_auto" public_id}}" alt="" sizes="(min-width:588px) 600px, (min-width:500px) 500px,(min-width:400px) 400px, 320px" srcset="{{cloudFormat "w_320,f_auto,q_auto" public_id}} 320w,
            {{cloudFormat "w_400,f_auto,q_auto" public_id}} 400w,
            {{cloudFormat "w_500,f_auto,q_auto" public_id}} 500w,
            {{cloudFormat "w_600,f_auto,q_auto" public_id}} 600w" alt=" {{title}} " /></div>
    {{/each}}
  </div>
{{/if}}
{{#if item.video_url}}
  <div class="video-wrapper">
    <video id="video" controls>
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{item.video_url}}.webm" type="video/webm" />
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{item.video_url}}.mp4" type="video/mp4" />
    <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_scale,w_728/{{item.video_url}}.ogv" type="video/ogv" />
  </video>
    <div class="video-overlay">
      <img class="video-play" src="/svg/play-white.svg" alt="" />
    </div>
  </div>
{{/if}}
