<header>
  {{> miniLogo }}
  <h2>Register your CABLE™</h2>
</header>
<form id="reset-form">
  <p>Enter your CABLE™ serial number below to activate your life time guarantee.</p>
  <div class="form-group">
    <input id="serial_number" class="form-control" type="text" name="serial_number" placeholder="Serial Number">
  </div>
  <button class="btn btn-center js-submit" data-title="Register">Register</button>
</form>
