<h3>Register</h3>
<p>
  Fill in the details below and we’ll create an account for you. Next time you visit Bailey of Sheffield simply login in and all your details will be saved.
</p>
<div class="form-group">
<input id="email" class="form-control pre-check" type="email" name="email" placeholder="Email address">
</div>
<div class="form-group">
<input id="confirm_email" class="form-control" type="email" name="confirm_email" placeholder="Confirm email address">
</div>
<div class="form-group">
<input id="password" class="form-control pre-check" type="password" name="password" placeholder="Password (min 8 characters)">
</div>
<div class="form-group">
  <input id="confirm" class="form-control" type="password" name="confirm" placeholder="Confirm password">
</div>
<div class="form-group">
  <input type="checkbox" id="newsletter" name="newsletter" checked>
  <label class="checkbox-label" for="newsletter">{{t "Label.User.Newsletter"}}</label>
</div>
<button class="btn btn-center js-submit" data-title="Create Account">Create Account</button>
