<h3>Login</h3>
<p>
  Login into your account to access orders.
  <br />
  <br />
</p>
<input type="email" name="email" placeholder="Email address">
<input type="password" name="password" placeholder="Password">
<button type="submit" class="btn btn-center js-submit" data-title="Login">Login</button>
<a class="forgot-password" href="javascript:;">Forgot password?</a>
</form>
