<header>
  {{> miniLogo }}
</header>
<h3>Payment Request</h3>
<p>
  Due to a change on your order we need to take an addtional payment before we can ship your items.
</p>
<ul>
  <li>Order: #{{order.orderid}}</li>
  <li>Amount to pay: {{decimalPrice request.amount}}</li>
</ul>
<form>
  <ul class="card-types">
    <li><img src="/img/cards/visa.png" alt="Visa" /></li>
    <li><img src="/img/cards/visa-electron.png" alt="Visa" /></li>
    <li><img src="/img/cards/mastercard.png" alt="Mastercard" /></li>
    <li><img src="/img/cards/american-express.png" alt="Mastercard" /></li>
    <li><img src="/img/cards/maestro.png" alt="Maestro" /></li>
  </ul>
  <div class="form-group">
    <input id="cc_number" class="form-control cc-number card-pre-check" autocomplete="cc-number" type="tel" size="20" data-stripe="number" placeholder="Card number (16 digits on front)" />
  </div>
  <div class="form-group">
    <input class="form-control cc-exp card-pre-check" type="tel" autocomplete="cc-exp" data-stripe="exp" placeholder="Exp date (MM/YY)" />
  </div>
  <div class="form-group">
    <input class="form-control cc-cvc card-pre-check" type="tel" size="4" autocomplete="off" data-stripe="cvc" placeholder="Security code (last 3 numbers on back)" />
  </div>
  <button class="btn js-next">Make Payment</button>
</form>
