<div class="gallery-cell offer">
  <div class="offer-details">
    <h1>EXCLUSIVE 15% DISCOUNT<br />PRE-ORDER YOUR CABLE™ BRACELET NOW!!</h1>
    <p>
      You may have missed the chance to be one of the first to exclusively back us on Kickstarter but we are now offering an EXCLUSIVE PRE-ORDER DISCOUNT only available for a short period of time, to celebrate the launch of our new website.
    </p>
    <p>
      Free UK Shipping.
    </p>
    <button class="btn pre-order">Order Now</button>

    <svg class="scroll-icon">
      <use xlink:href="/svg/sprite.svg#arrow-down" />
    </svg>
  </div>
</div>
