<div class="slide-container">
  <div class="gallery-cell">
    <img
    sizes="(max-width: 1280px) 100vw, 1280px"
    srcset="
    {{cloudFormat "f_auto,q_auto,c_fill,w_200,h_92" "/bailey/img/featured/feat1.jpg"}} 200w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_527,h_247" "/bailey/img/featured/feat1.jpg"}} 527w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_756,h_354" "/bailey/img/featured/feat1.jpg"}} 756w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_944,h_443" "/bailey/img/featured/feat1.jpg"}} 944w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1126,h_528" "/bailey/img/featured/feat1.jpg"}} 1126w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1258,h_590" "/bailey/img/featured/feat1.jpg"}} 1258w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat1.jpg"}} 1280w"
    src="{{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat1.jpg"}}"
    alt="Stainless Steel Cable Bracelet">
  </div>
  <div class="gallery-cell">
    <img
    sizes="(max-width: 1280px) 100vw, 1280px"
    srcset="
    {{cloudFormat "f_auto,q_auto,c_fill,w_200,h_92" "/bailey/img/featured/feat2.jpg"}} 200w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_527,h_247" "/bailey/img/featured/feat2.jpg"}} 527w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_756,h_354" "/bailey/img/featured/feat2.jpg"}} 756w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_944,h_443" "/bailey/img/featured/feat2.jpg"}} 944w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1126,h_528" "/bailey/img/featured/feat2.jpg"}} 1126w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1258,h_590" "/bailey/img/featured/feat2.jpg"}} 1258w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat2.jpg"}} 1280w"
    src="{{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat2.jpg"}}"
    alt="PVD Antracite Bracelet">
  </div>
  <div class="gallery-cell">
    <img
    sizes="(max-width: 1280px) 100vw, 1280px"
    srcset="
    {{cloudFormat "f_auto,q_auto,c_fill,w_200,h_92" "/bailey/img/featured/feat3.jpg"}} 200w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_527,h_247" "/bailey/img/featured/feat3.jpg"}} 527w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_756,h_354" "/bailey/img/featured/feat3.jpg"}} 756w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_944,h_443" "/bailey/img/featured/feat3.jpg"}} 944w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1126,h_528" "/bailey/img/featured/feat3.jpg"}} 1126w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1258,h_590" "/bailey/img/featured/feat3.jpg"}} 1258w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat3.jpg"}} 1280w"
    src="{{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat3.jpg"}}"
    alt="Stainless Steel Cable Bracelet">
  </div>
  <div class="gallery-cell">
    <img
    sizes="(max-width: 1280px) 100vw, 1280px"
    srcset="
    {{cloudFormat "f_auto,q_auto,c_fill,w_200,h_92" "/bailey/img/featured/feat4.jpg"}} 200w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_527,h_247" "/bailey/img/featured/feat4.jpg"}} 527w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_756,h_354" "/bailey/img/featured/feat4.jpg"}} 756w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_944,h_443" "/bailey/img/featured/feat4.jpg"}} 944w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1126,h_528" "/bailey/img/featured/feat4.jpg"}} 1126w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1258,h_590" "/bailey/img/featured/feat4.jpg"}} 1258w,
    {{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat4.jpg"}} 1280w"
    src="{{cloudFormat "f_auto,q_auto,c_fill,w_1280,h_600" "/bailey/img/featured/feat4.jpg"}}"
    alt="">
  </div>
</div>
<div class="logo-wrapper">{{> svgLogo }}</div>
