{{#if show_offer_banner}}
{{> promo banner_title=banner_title banner_subtitle=banner_subtitle banner_info=banner_info}}
{{/if}}
<section class="featured"></section>
<section class="intro"></section>
<section class="home-content"></section>
