<a href="shop#cables" class="link portland-works" title="Shop Cable Bracelets">
  <img src="{{cloudUrl "w_550,f_auto,q_auto" "img/home/cable.jpg"}}" alt="Cable Bracelet" sizes="(min-width:1200px) 550px, (min-width:828px) 465px,
         (min-width:700px) 650px,
         (min-width:600px) 550px,
         (min-width:440px)  471px,
         420px" srcset="{{cloudUrl "w_420,f_auto,q_auto" "img/home/cable.jpg"}} 420w,
          {{cloudUrl "w_471,f_auto,q_auto" "img/home/cable.jpg"}} 471w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/cable.jpg"}} 550w,
          {{cloudUrl "w_650,f_auto,q_auto" "img/home/cable.jpg"}} 650w,
          {{cloudUrl "w_465,f_auto,q_auto" "img/home/cable.jpg"}} 465w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/cable.jpg"}} 550w" />
  <div class="link-content">
    <div></div>
    <div class="shop">
      <h3>Shop</h3>
      <h2>Cable™</h2>
      <h4>From £179.99</h4>
    </div>
    <svg class="read-more-icon dark">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="shop#beads" class="link portland-works" title="Shop Beads">
  <img src="{{cloudUrl "w_550,f_auto,q_auto" "img/home/beads.jpg"}}" alt="Stainless Steel Beads" sizes="(min-width:1200px) 550px, (min-width:828px) 465px,
         (min-width:700px) 650px,
         (min-width:600px) 550px,
         (min-width:440px)  471px,
         420px" srcset="{{cloudUrl "w_420,f_auto,q_auto" "img/home/beads.jpg"}} 420w,
          {{cloudUrl "w_471,f_auto,q_auto" "img/home/beads.jpg"}} 471w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/beads.jpg"}} 550w,
          {{cloudUrl "w_650,f_auto,q_auto" "img/home/beads.jpg"}} 650w,
          {{cloudUrl "w_465,f_auto,q_auto" "img/home/beads.jpg"}} 465w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/beads.jpg"}} 550w" />
  <div class="link-content">
    <div></div>
    <div class="shop">
      <h3>Shop</h3>
      <h2>Beads</h2>
      <h4>From £30</h4>
    </div>
    <svg class="read-more-icon dark">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="look-book" class="link portland-works" title="Look Book">
  <img src="{{cloudUrl "w_550,f_auto,q_auto" "img/home/look-book.jpg"}}" alt="Style" sizes="(min-width:1200px) 550px, (min-width:828px) 465px,
         (min-width:700px) 650px,
         (min-width:600px) 550px,
         (min-width:440px)  471px,
         420px" srcset="{{cloudUrl "w_420,f_auto,q_auto" "img/home/look-book.jpg"}} 420w,
          {{cloudUrl "w_471,f_auto,q_auto" "img/home/look-book.jpg"}} 471w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/look-book.jpg"}} 550w,
          {{cloudUrl "w_650,f_auto,q_auto" "img/home/look-book.jpg"}} 650w,
          {{cloudUrl "w_465,f_auto,q_auto" "img/home/look-book.jpg"}} 465w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/look-book.jpg"}} 550w" />
  <div class="link-content">
    <h3>Style</h3>
    <h2>Look Book</h2>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<a href="shop/custom" class="link custom" title="Shop Custom Bracelet">
  <img src="{{cloudUrl "w_550,f_auto,q_auto" "img/home/custom-bg.jpg"}}" alt="Custom Bracelet" sizes="(min-width:1200px) 550px, (min-width:828px) 465px,
         (min-width:700px) 650px,
         (min-width:600px) 550px,
         (min-width:440px)  471px,
         420px" srcset="{{cloudUrl "w_420,f_auto,q_auto" "img/home/custom-bg.jpg"}} 420w,
          {{cloudUrl "w_471,f_auto,q_auto" "img/home/custom-bg.jpg"}} 471w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/custom-bg.jpg"}} 550w,
          {{cloudUrl "w_650,f_auto,q_auto" "img/home/custom-bg.jpg"}} 650w,
          {{cloudUrl "w_465,f_auto,q_auto" "img/home/custom-bg.jpg"}} 465w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/custom-bg.jpg"}} 550w" />
  <div class="link-content">
    <div></div>
    <div class="shop">
      <h3>Shop</h3>
      <h2>Custom</h2>
      <h4>From £179.99</h4>
    </div>
    <svg class="read-more-icon dark">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
<div class="link">
  <div class="video-wrapper">
    <video id="video" poster="https://res.cloudinary.com/dot-to-dot-design/image/upload/w_650,f_auto,q_auto/bailey/img/home/video-cover.jpg" controls>
      <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_pad,h_372,w_648/bailey/video/noks.webm" type="video/webm" />
      <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_pad,h_372,w_648/bailey/video/noks.mp4" type="video/mp4" />
      <source src="https://res.cloudinary.com/dot-to-dot-design/video/upload/c_pad,h_372,w_648/bailey/video/noks.ogv" type="video/ogg" />
    </video>
    <div class="video-overlay">
      <img class="video-play" src="/svg/play-white.svg" alt="" />
    </div>
  </div>
</div>
<a href="portland-works" class="link portland-works" title="Portland Works">
  <img src="{{cloudUrl "w_550,f_auto,q_auto" "img/home/portlandworks.jpg"}}" alt="Portland Works" sizes="(min-width:1200px) 550px, (min-width:828px) 465px,
         (min-width:700px) 650px,
         (min-width:600px) 550px,
         (min-width:440px)  471px,
         420px" srcset="{{cloudUrl "w_420,f_auto,q_auto" "img/home/portlandworks.jpg"}} 420w,
          {{cloudUrl "w_471,f_auto,q_auto" "img/home/portlandworks.jpg"}} 471w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/portlandworks.jpg"}} 550w,
          {{cloudUrl "w_650,f_auto,q_auto" "img/home/portlandworks.jpg"}} 650w,
          {{cloudUrl "w_465,f_auto,q_auto" "img/home/portlandworks.jpg"}} 465w,
          {{cloudUrl "w_550,f_auto,q_auto" "img/home/portlandworks.jpg"}} 550w" />
  <div class="link-content">
    <h3>Workshop</h3>
    <svg class="portland-works-icon">
      <use xlink:href="/svg/sprite.svg#portland-works" />
    </svg>
    <svg class="read-more-icon">
      <use xlink:href="/svg/sprite.svg#read-more" />
    </svg>
  </div>
</a>
