<h3>Cart Summary</h3>
<ul class="cart-list"></ul>
<div class="cart-total">
  <span class="cart-label">Subtotal</span>
  <span class="cart-value">{{decimalPrice order.subtotal}}</span>
</div>
{{#if order.discount_amount}}
<div class="cart-total">
  <span class="cart-label">Discount{{#if order.discount_percent}} {{order.discount_percent}}%{{/if}}</span>
  <span class="cart-value">{{decimalPrice order.discount_amount}}</span>
</div>
{{/if}}
{{#if order.gift_wrap}}
<div class="cart-total">
  <span class="cart-label">Gift wrapping</span>
  <span class="cart-value">{{decimalPrice order.gift_wrap_price}}</span>
</div>
{{/if}}
<div class="cart-total">
  <span class="cart-label">Shipping</span>
  <span class="cart-value">{{decimalPrice order.shipping_price}}</span>
</div>
<div class="cart-total">
  <span class="cart-label">Total</span>
  <span class="cart-value">{{decimalPrice order.total}}</span>
</div>
