<div class="item-image">
  <img src="{{cloudFormat "c_pad,w_50,h_50" image.public_id}}" srcset="{{cloudFormat "c_pad,w_50,h_50" image.public_id}} 1x, {{cloudFormat "c_pad,w_50,h_50,dpr_2.0" image.public_id}} 2x" alt="{{product.title}}">
</div>
<div class="item-title">
  {{#if custom_variations}}
    {{#each custom_variations}}
      <h4>{{product.title}}{{#if product.size}} - {{product.size}}{{/if}} - {{decimalPrice product.price}}</h4>
    {{/each}}
  {{else}}
    <h4>{{qty}} x {{product.title}}{{#if product.size}} - {{product.size}}{{/if}} - {{decimalPrice product.price}}</h4>
  {{/if}}
  {{#if engraving_options.length}}
    <div class="engravings-cart">
      <h4>Engravings</h4>
      <ul>
        {{#each engraving_options}}
          <li>{{title}}: {{text}} - {{decimalPrice total}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
<div class="item-qty">
  <p>
    <span class="cart-value">{{decimalPrice total}}</span>
  </p>
</div>
