<h3>Discount</h3>
<p>
  If we have given you a discount code, please enter it below.
</p>
<div class="form-group order-discount">
  <input id="discountCode" class="form-control" name="discountCode" placeholder="Enter discount code" type="text">
</div>
<button type="button" name="button" class="btn apply-discount">Apply</button>
