<h3>Gift Wrapping {{decimalPrice settings.gift_wrapping_price}}</h3>
<form id="wrapping">
  <div class="gift-view">
    {{{order.gift_wrap_message}}}
    <button type="button" name="button" class="btn edit-gift">Edit message</button>
  </div>
  <div class="gift-edit">
    <input type="checkbox" id="gift_wrap" name="gift_wrap" {{#if order.gift_wrap}} checked {{/if}}>
    <label for="gift_wrap">{{t "Label.Shipping.Gift"}}</label>
    <div class="gift-options">
      <br />
      <div class="form-group">
        <textarea id="gift_wrap_message" class="gift-msg form-control" name="gift_wrap_message" rows="8" cols="40" placeholder="Enter your message...">{{textArea order.gift_wrap_message}}</textarea>
        <p class="char-left"></p>
      </div>
      <button type="button" name="button" class="btn add-gift">Add message</button>
    </div>
  </div>


</form>
