<form id="billing" class="billing-address col checkout-space">
  <h3>Billing address</h3>
  <input type="checkbox" id="different_shipping" name="different_shipping">
  <label for="different_shipping">{{t "Label.Shipping.Different"}}</label>
  <div class="billing-fields">
    {{#if addresses.length}}
      <div class="form-group">
        <label class="dropdown-wrapper">
          <div class="button dropdown">
            <select id="addressSelect" name="use_address">
              <option value="">Select saved address</option>
              {{#each addresses}}
                <option value="{{_id}}">
                  {{address1}}, {{postcode}}
              {{/each}}
            </select>
          </div>
        </label>
      </div>
    {{/if}}
    <div class="form-group">
      <input id="first_name" class="form-control pre-check" type="text" name="first_name" value="{{order.billing_address.first_name}}" placeholder="{{t "Label.Address.FirstName"}}">
    </div>
    <div class="form-group">
      <input id="last_name" class="form-control pre-check" type="text" name="last_name" value="{{order.billing_address.last_name}}" placeholder="{{t "Label.Address.LastName"}}">
    </div>
    <div class="form-group">
      <input id="address1" class="form-control pre-check" type="text" name="address1" value="{{order.billing_address.address1}}" placeholder="{{t "Label.Address.Address1"}}">
    </div>
    <input type="text" name="address2" value="{{order.billing_address.address2}}" placeholder="{{t "Label.Address.Address2"}}">
    <div class="form-group">
      <input id="city" class="form-control pre-check" type="text" name="city" value="{{order.billing_address.city}}" placeholder="{{t "Label.Address.City"}}">
    </div>
    <div class="form-group">
      <input id="region" class="form-control" type="text" name="region" value="{{order.billing_address.region}}" placeholder="{{t "Label.Address.Region"}}">
    </div>
    <div class="form-group">
      <input id="billingCountry" type="hidden" name="country">
      <label class="dropdown-wrapper">
        <div class="button dropdown">
          <select id="billingCountryCode" class="country" name="country_code" required>
            {{#each countries}}
              <option value="{{cca2}}">
                {{name}}
              </option>
            {{/each}}
          </select>
        </div>
      </label>
    </div>
    <div class="form-group">
      <input id="postcode" class="form-control pre-check" type="text" name="postcode" value="{{order.billing_address.postcode}}" placeholder="{{t "Label.Address.Postcode"}}">
    </div>
  </div>
</form>
<form>
  <h3>Payment Info</h3>
  <ul class="card-types">
    <li><img src="/img/cards/visa.png" alt="Visa" /></li>
    <li><img src="/img/cards/visa-electron.png" alt="Visa" /></li>
    <li><img src="/img/cards/mastercard.png" alt="Mastercard" /></li>
    <li><img src="/img/cards/american-express.png" alt="Mastercard" /></li>
    <li><img src="/img/cards/maestro.png" alt="Maestro" /></li>
  </ul>
  <div class="form-group">
    <input id="cc_number" class="form-control cc-number card-pre-check" autocomplete="cc-number" type="tel" size="20" data-stripe="number" placeholder="Card number (16 digits on front)" />
  </div>
  <div class="form-group">
    <input class="form-control cc-exp card-pre-check" type="tel" autocomplete="cc-exp" data-stripe="exp" placeholder="Exp date (MM/YY)" />
  </div>
  <div class="form-group">
    <input class="form-control cc-cvc card-pre-check" type="tel" size="4" autocomplete="off" data-stripe="cvc" placeholder="Security code (last 3 numbers on back)" />
  </div>
  <button class="btn js-next">Make Payment</button>
</form>
