<div class="checkout-discount"></div>
<div class="checkout-gift"></div>
<form id="shipping_address_form" class="shipping-address col">
  <h3>Shipping address</h3>
  {{#if addresses.length}}
    <div class="form-group">
      <label class="dropdown-wrapper">
        <div class="button dropdown">
          <select id="addressSelect" name="use_address">
            <option value="">Select saved address</option>
            {{#each addresses}}
              <option value="{{_id}}">
                {{address1}}, {{postcode}}
            {{/each}}
          </select>
        </div>
      </label>
    </div>
  {{/if}}
  <div class="form-group">
    <input id="first_name" type="text" class="form-control pre-check" name="first_name" value="{{order.shipping_address.first_name}}" placeholder="{{t "Label.Address.FirstName"}}">
  </div>
  <div class="form-group">
    <input id="last_name" type="text" class="form-control pre-check" name="last_name" value="{{order.shipping_address.last_name}}" placeholder="{{t "Label.Address.LastName"}}">
  </div>
  <div class="form-group">
    <input id="address1" type="text" class="form-control pre-check" name="address1" value="{{order.shipping_address.address1}}" placeholder="{{t "Label.Address.Address1"}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="address2" value="{{order.shipping_address.address2}}" placeholder="{{t "Label.Address.Address2"}}">
  </div>
  <div class="form-group">
    <input id="city" type="text" class="form-control pre-check" name="city" value="{{order.shipping_address.city}}" placeholder="{{t "Label.Address.City"}}">
  </div>
  <div class="form-group">
    <input id="region" type="text" class="form-control" name="region" value="{{order.shipping_address.region}}" placeholder="{{t "Label.Address.Region"}}">
  </div>
  <div class="form-group">
    <input id="shippingCountry" type="hidden" name="country">
    <label class="dropdown-wrapper">
      <div class="button dropdown">
        <select id="shippingCountryCode" class="country" name="country_code" required>
          {{#each countries}}
            <option value="{{cca2}}">
              {{name}}
            </option>
          {{/each}}
        </select>
      </div>
    </label>
  </div>
  <div class="form-group">
    <input id="postcode" type="text" class="form-control pre-check" name="postcode" value="{{order.shipping_address.postcode}}" placeholder="{{t "Label.Address.Postcode"}}">
  </div>
  <div class="form-group">
    <input id="phone" class="form-control" type="tel" name="phone" value="{{order.shipping_address.phone}}" placeholder="{{t "Label.Address.Phone"}}">
    <p class="input-description">
      Your phone number is required for courier purposes.
    </p>
  </div>
  {{#unless auth}}
    <div class="form-group">
      <input id="email" class="form-control" type="email" name="email" value="{{order.shipping_address.email}}" placeholder="{{t "Label.Address.Email"}}">
    </div>
    <div class="form-group">
      <input type="checkbox" id="mailchimp_newsletter" name="mailchimp_newsletter" checked>
      <label class="checkbox-label" for="mailchimp_newsletter">{{t "Label.User.Newsletter"}}</label>
    </div>
  {{/unless}}
  <button class="btn js-next">Proceed to Payment</button>
  <button id="apple-pay-button"></button>
</form>
