<header>
  {{> miniLogo }}
  <h2>Forgot password</h2>
</header>
<form id="forgot-form" role="form">
  <p>
    Forgot your password? Type your email address below and reset instructions will be sent to your registered email address.
  </p>
  <div class="form-group">
    <input id="email" class="form-control" type="email" name="email" placeholder="Email address">
  </div>
  <button type="submit" class="btn btn-center js-submit" data-title="Reset">Reset</button>
</form>
