<img src="/img/workshop/workshop-logo.png" alt="Portland Works" />
<p>For us, Portland Works is all about: ideas, design and craft. It’s our workshop and it’s serviced Sheffield’s industrial community for over 136 years. In this new age of making it’s the perfect place for us to call home.</p>
<p>See what we’ve been up to.</p>
