<article class="page order-thanks">
  <header class="page-header">
    {{> miniLogo }}
  </header>
  <h1>Thank you for your Payment.</h1>
  <p>
    You will receive an updated order confirmation email within the next hour, if this doesn’t appear please contact us at <a href="mailto:hello@baileyofsheffield.com">hello@baileyofsheffield.com</a>
  </p>
  <h2>Stay connected!</h2>
  <p>
    Keep up to date with the Bailey of Sheffield story….
  </p>
  <ul class="social">
    <li>
      <a href="https://twitter.com/baileyofsheff" target="_blank">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#twitter" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/baileyofsheffield" target="_blank">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#facebook" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/baileyofsheffield" target="_blank">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#instagram" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCc5c9Oz1YnvMYuHNb8fgPxw" target="_blank">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#youtube" />
        </svg>
      </a>
    </li>
  </ul>
</article>
