/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Ensure that the HTML is always 100% height. This fixed body height issues in Chrome for example.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  min-height: 100%;
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  font-weight: inherit;
  /* 1 */
  margin: 0;
  /* 3 */
  padding: 0;
}
/**
 * Remove the default button background color that browsers set
 */
button {
  background: transparent;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * Make sure selects don't get the default browser styles.
 */
select {
  -webkit-appearance: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 * 3. Disable resizing by default.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: none;
  /* 3 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul,
li {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
button,
input,
fieldset,
textarea,
select {
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cc_banner-wrapper {
  z-index: 9001;
  position: relative;
}
.cc_container .cc_btn {
  cursor: pointer;
  text-align: center;
  font-size: 0.6em;
  transition: font-size 200ms;
  line-height: 1em;
}
.cc_container .cc_message {
  font-size: 0.6em;
  transition: font-size 200ms;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
.cc_container .cc_logo {
  display: none;
  text-indent: -1000px;
  overflow: hidden;
  width: 100px;
  height: 22px;
  background-size: cover;
  background-image: url(//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/logo.png);
  opacity: 0.9;
  transition: opacity 200ms;
}
.cc_container .cc_logo:hover,
.cc_container .cc_logo:active {
  opacity: 1;
}
@media screen and (min-width: 500px) {
  .cc_container .cc_btn {
    font-size: 0.6em;
  }
  .cc_container .cc_message {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) {
  .cc_container .cc_btn {
    font-size: 0.6em;
  }
  .cc_container .cc_message {
    font-size: 1em;
    line-height: 1em;
  }
}
@media screen and (min-width: 992px) {
  .cc_container .cc_message {
    font-size: 1em;
  }
}
@media print {
  .cc_banner-wrapper,
  .cc_container {
    display: none;
  }
}
.cc_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 10px;
}
.cc_container .cc_btn {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 1.3em 2.5em;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.6em;
  color: #3e3935;
  cursor: pointer;
  transition: font-size 200ms;
  text-align: center;
  display: block;
  width: 33%;
  margin-left: 10px;
  float: right;
  max-width: 120px;
}
.cc_container .cc_message {
  transition: font-size 200ms;
  font-size: 0.8em;
  display: block;
}
@media screen and (min-width: 500px) {
  .cc_container .cc_btn {
    font-size: 0.6em;
  }
  .cc_container .cc_message {
    margin-top: 0.5em;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) {
  .cc_container {
    padding: 15px 30px 15px;
  }
  .cc_container .cc_btn {
    font-size: 0.6em;
  }
  .cc_container .cc_message {
    font-size: 1em;
  }
}
@media screen and (min-width: 992px) {
  .cc_container .cc_message {
    font-size: 1em;
  }
}
.cc_container {
  background: #222;
  color: #fff;
  font-size: 17px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  box-sizing: border-box;
}
.cc_container::-moz-selection {
  background: #ff5e99;
  color: #fff;
  text-shadow: none;
}
.cc_container .cc_btn,
.cc_container .cc_btn:visited {
  color: #FFF;
  transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.cc_container .cc_btn:hover,
.cc_container .cc_btn:active {
  color: #edba00;
  border-color: #edba00;
}
.cc_container a,
.cc_container a:visited {
  text-decoration: none;
  color: #31a8f0;
  transition: 200ms color;
}
.cc_container a:hover,
.cc_container a:active {
  color: #b2f7ff;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(66px);
    transform: translateY(66px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(66px);
    -ms-transform: translateY(66px);
    transform: translateY(66px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.cc_container,
.cc_message,
.cc_btn {
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}
.footer,
.top-bar,
.wrapper {
  display: flex;
}
.wrapper {
  flex-direction: column;
  min-height: 100vh;
}
.main-wrapper {
  padding: 20px 10px 0;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.main-wrapper header {
  flex: 0 0 100%;
}
.main-wrapper header h2 {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3333333333333333;
  margin: 20px auto;
}
@media (min-width: 658px) {
  .main-wrapper {
    padding: 83px 20px 0;
  }
}
@media (min-width: 1024px) {
  .main-wrapper {
    width: 68%;
    padding: 83px 0 0;
    margin: 0 auto;
  }
}
.error-page h1 {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 60px;
  background: transparent;
  transition: background 0.5s;
}
@media (min-width: 658px) {
  .header {
    height: 120px;
  }
}
.cart-page .header,
.checkout-page .header,
.shop-custom .header {
  background: #f5f5f5;
}
.home-page .header {
  background: rgba(255, 255, 255, 0.8);
}
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #3e3935;
  line-height: 60px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.top-bar a,
.top-bar a:visited {
  color: #b2b0ae;
  text-transform: uppercase;
  display: block;
}
.top-bar .cart {
  flex-grow: 1;
  margin-right: 45px;
}
@media (min-width: 658px) {
  .top-bar .cart {
    flex-grow: 0;
    margin-right: 0;
  }
}
@media (min-width: 658px) {
  .top-bar {
    padding: 0 20px;
  }
}
.main {
  padding-top: 60px;
  padding-bottom: 120px;
  width: 100%;
  flex: 1 0 auto;
}
.mini-logo {
  width: 50px;
}
.full-logo {
  fill: #3e3935;
  margin: 0 auto 60px;
  display: block;
}
.promotion {
  background-color: #19a449;
  text-align: center;
  color: white;
  padding: 10px;
}
.promotion h2,
.promotion h3,
.promotion p {
  color: white;
  margin: 0 !important;
}
.promotion h2 {
  font-size: 18px !important;
  font-size: 1.8rem !important;
  line-height: 1 !important;
}
@media (min-width: 658px) {
  .promotion h2 {
    font-size: 26px !important;
    font-size: 2.6rem !important;
    line-height: 1 !important;
  }
}
.promotion h3 {
  font-size: 14px !important;
  font-size: 1.4rem !important;
  line-height: 1 !important;
}
@media (min-width: 658px) {
  .promotion h3 {
    font-size: 18px !important;
    font-size: 1.8rem !important;
    line-height: 1 !important;
  }
}
@media (min-width: 658px) {
  .home-page .featured {
    margin-top: 60px;
  }
}
@media (min-width: 658px) {
  .has-offer-banner .home-page .promotion {
    margin-top: 60px;
  }
}
@media (min-width: 658px) {
  .has-offer-banner .home-page .featured {
    margin-top: 0;
  }
}
.footer {
  width: 100%;
  background: #3e3935;
  padding: 20px;
  display: block;
}
.footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.footer-menu .f-item {
  width: 100%;
  position: relative;
  flex-grow: 1;
  margin-bottom: 2em;
}
.footer-menu .f-logo,
.footer-menu .f-main {
  display: none;
}
.footer-logos {
  align-self: center;
  padding-top: 1em;
}
.footer-logos p {
  color: #b2b0ae;
}
.footer-logos #mc_embed_signup {
  margin-bottom: 1em;
}
@media (min-width: 980px) {
  .footer-logos #mc_embed_signup {
    margin-left: 16.5%;
  }
}
@media (min-width: 600px) {
  .footer-logos #mc_embed_signup {
    width: 48%;
  }
}
.footer-logos .mc-field-group {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin-bottom: 1em;
}
.footer-logos .mc-field-group .input-group-btn,
.footer-logos .mc-field-group input.email {
  display: table-cell;
}
@media (min-width: 480px) {
  .footer-logos .mc-field-group {
    display: table;
    margin-bottom: 0;
  }
}
.footer-logos .mc-field-group input.email {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 1em;
  border: 0;
  height: 40px;
}
@media (min-width: 480px) {
  .footer-logos .mc-field-group input.email {
    margin-bottom: 0;
  }
}
.footer-logos .mc-field-group .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
.footer-logos .mc-field-group .btn {
  background-color: #edba00;
  border: 0;
  height: 40px;
}
.footer-logos .mc-field-group .btn:hover {
  background-color: #b2b0ae;
}
.footer-logos .made-in {
  align-self: center;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .footer-logos .made-in {
    max-width: 360px;
  }
}
@media (min-width: 600px) {
  .footer-logos .made-in {
    margin-left: auto;
    align-self: flex-end;
    width: 48%;
  }
}
@media (min-width: 600px) {
  .footer-logos {
    display: flex;
  }
}
form p {
  text-align: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}
label {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.1666666666666667;
  color: #3e3935;
  margin-bottom: 5px;
  display: block;
}
input,
textarea {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 10px;
  background-color: #fff;
  color: #3e3935;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  -webkit-appearance: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  height: 40px;
  border: 1px solid #fff;
}
input[type=checkbox],
input[type=radio] {
  display: none;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid #3e3935;
  cursor: pointer;
  transition: all 0.2s;
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  background-color: #3e3935;
}
label.checkbox-label {
  margin-bottom: 1em;
}
input:disabled {
  opacity: 0.4;
}
.form-group {
  transition: all 0.2s;
}
.form-group.has-error {
  position: relative;
}
.form-group.has-error input {
  border: 1px solid red;
}
.form-group.has-error .input-error {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
}
.form-group.has-error .input-error svg {
  width: 22px;
  height: 22px;
  fill: #a6192e;
}
.form-group.has-success {
  position: relative;
}
.form-group.has-success input {
  border: 1px solid #19a449;
}
.form-group.has-success .input-success {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
}
.form-group.has-success .input-success svg {
  width: 20px;
  height: 20px;
  fill: #19a449;
}
p.input-description {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
  margin-top: -8px;
}
.input-wrapper {
  background: #fff;
  display: flex;
  height: 40px;
}
.input-wrapper input {
  flex: 1;
  background: transparent;
}
.input-wrapper button {
  margin-right: 10px;
}
.input-wrapper .submit-link {
  width: 20px;
  height: 20px;
}
.field-wrapper {
  position: relative;
}
.field-name {
  position: absolute;
  left: 10px;
  top: -18px;
  opacity: 0;
}
label.dropdown-wrapper {
  display: block;
  margin: 0;
  width: 100%;
  margin-bottom: 1em;
  background-color: #fff;
}
.dropdown {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
select {
  color: #3e3935;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  /* Make sure the select is wider than the container so we can clip the arrow */
  width: 110%;
  max-width: 110%;
  min-width: 110%;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Ugly Firefox way of doing it */
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  background: none;
  border: none;
  outline: none;
  /* Padding works surpringly well */
  padding: 10px 19% 10px 10px;
  margin: 0.2em;
}
/* This hides native dropdown button arrow in IE */
select::-ms-expand {
  display: none;
}
/* Custom arrow - could be an image, SVG, icon font, etc. */
.dropdown:after {
  width: 20px;
  height: 11px;
  background-image: url("/svg/chevron-down.svg");
  background-size: 20px 11px;
  content: "";
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1.2em;
  bottom: 0.3em;
  z-index: 1;
  /* This hack makes the select behind the arrow clickable in some browsers */
  pointer-events: none;
}
/* Hover style - tricky because we're clipping the overflow */
/* Focus style */
select:focus {
  outline: none;
}
/* This hides focus around selected option in FF */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
::-webkit-input-placeholder {
  color: #edba00;
  font-weight: normal;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #edba00;
  font-weight: normal;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #edba00;
  font-weight: normal;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #edba00;
  font-weight: normal;
  font-style: italic;
}
input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.stepperInput {
  display: flex;
  justify-content: flex-end;
}
input.stepperInput__input {
  height: auto;
  border-left: 0;
  border-right: 0;
  width: 40px;
  text-align: center;
  box-shadow: none;
  margin: 0;
  padding: 5px;
}
.btn-step {
  cursor: pointer;
  padding: 3px 12px;
  color: #FFFFFF;
  background-color: #edba00;
  font-size: 12px;
}
@media (min-width: 600px) {
  input.stepperInput__input {
    padding: 10px;
    width: 60px;
  }
  .btn-step {
    padding: 5px 18px;
    font-size: 16px;
  }
}
.mobile-menu-icon {
  width: 30px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(/img/icon-sprite.png);
  background-position: -342px -324px;
  text-indent: -9999px;
  display: block;
  margin: 18.5px 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .mobile-menu-icon {
    background-image: url(/img/icon-sprite@2x.png);
    background-size: 470px 461px;
  }
}
@media (min-width: 658px) {
  .mobile-menu-icon {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3e3935;
  z-index: 21;
  display: flex;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.mobile-menu ul {
  width: 90%;
}
.mobile-menu li {
  text-align: center;
  margin-bottom: 5vh;
}
.mobile-menu li a {
  color: white;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body.show-mobile-menu {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.show-mobile-menu .mobile-menu {
  visibility: visible;
  opacity: 1;
  overflow-y: hidden;
  max-height: 100%;
  max-height: calc(100vh - 60px);
}
.main-menu {
  margin: 21px auto 0;
  display: none;
}
.main-menu ul {
  text-align: center;
}
.main-menu li {
  display: inline-block;
  height: 20px;
  line-height: 23px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #3e3935;
}
.main-menu li:last-child {
  border-right: 0;
}
.main-menu a {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3e3935;
  padding-bottom: 3px;
}
.main-menu li.active a {
  border-bottom: 1px solid #3e3935;
}
.bar-menu .main-menu li {
  border-color: #3e3935;
}
.bar-menu .main-menu li.active a {
  border-bottom: 1px solid #3e3935;
}
.bar-menu .main-menu a {
  color: #3e3935;
}
.account-menu li {
  display: inline-block;
  height: 8px;
  line-height: 8px;
}
.cart-menu {
  text-align: center;
}
.cart-menu li {
  display: inline-block;
  height: 8px;
  line-height: 8px;
  padding: 0 5px;
  color: #b2b0ae;
  text-transform: uppercase;
  border-right: 1px solid #b2b0ae;
}
.cart-menu li:last-child {
  border-right: 0;
}
.cart-menu li.not-mobile {
  display: none;
}
.social {
  display: none;
}
.social li {
  height: 26px;
  line-height: 26px;
  padding-left: 3px;
  margin-top: 17px;
}
@media (min-width: 658px) {
  .social {
    flex-flow: row wrap;
    justify-content: flex-end;
    display: flex;
  }
}
.f-logo .white-logo {
  width: 68px;
  margin: 0;
  fill: #FFF;
}
.f-logo p {
  position: absolute;
  bottom: 0;
}
.f-item li a {
  color: #b2b0ae;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4285714285714286;
  font-style: normal;
  font-weight: 500;
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
}
.f-item h3 {
  text-transform: uppercase;
  color: #b2b0ae;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin-bottom: 5px;
}
.f-item p,
.f-item a {
  color: #b2b0ae;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4285714285714286;
  font-style: normal;
  font-weight: 500;
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
}
.f-main li {
  margin-bottom: 20px;
}
.f-main li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.f-main .social {
  justify-content: flex-start;
}
.f-main .social li {
  margin: 0;
  padding: 0 10px 0 0;
}
.f-main .social .icon {
  fill: #FFFFFF;
}
.icon {
  fill: #B1AFAD;
  width: 26px;
  height: 26px;
}
.close-icon {
  width: 22px;
  height: 22px;
}
.read-more-icon {
  width: 22px;
  height: 22px;
  fill: #FFF;
}
.read-more-icon.dark {
  fill: #3e3935;
}
.portland-works-icon {
  width: 166px;
  height: 80px;
  fill: #FFF;
}
.more-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(/img/icon-sprite.png);
  background-position: -120px 0px;
  text-indent: -9999px;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .more-link {
    background-image: url(/img/icon-sprite@2x.png);
    background-size: 470px 461px;
  }
}
.more-link.wait {
  width: 30px;
  height: 30px;
  background-image: url("/img/loading-small.gif");
  background-position: 0 0;
}
.more-link-xs {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(/img/icon-sprite.png);
  background-position: -170px 0px;
  text-indent: -9999px;
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .more-link-xs {
    background-image: url(/img/icon-sprite@2x.png);
    background-size: 470px 461px;
  }
}
.input-button {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(/img/icon-sprite.png);
  background-position: -270px -320px;
  text-indent: -9999px;
  display: block;
  margin-top: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .input-button {
    background-image: url(/img/icon-sprite@2x.png);
    background-size: 470px 461px;
  }
}
.btn {
  border: 1px solid #edba00;
  padding: 1.3em 2.5em;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
  color: #3e3935;
  min-width: 170px;
}
.btn-center {
  margin: 0 auto;
  display: block;
}
.btn-group {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.btn-group .btn {
  display: inline-block;
  margin: 10px;
}
.btn-sm {
  padding: .8em 1.7em;
  min-width: inherit;
}
.btn:hover {
  border-color: #3e3935;
}
.btn:disabled {
  border-color: #b2b0ae;
  color: #b2b0ae;
}
.full-logo {
  align-self: center;
}
#logo_svg {
  fill: #FFF;
  max-width: 500px;
  width: 80vw;
}
.small-logo {
  max-width: 105px;
  margin: 0 auto;
  display: block;
  align-self: center;
}
.mini-logo {
  margin: 0 auto 20px;
  display: block;
  align-self: center;
  fill: #3e3935;
}
.submit-link {
  width: 30px;
  height: 30px;
  display: block;
}
.action-link {
  width: 70px;
  height: 70px;
  display: block;
}
.delete-icon {
  width: 20px;
  height: 20px;
  display: block;
}
.scroll-icon {
  width: 40px;
  height: 40px;
  fill: #3e3935;
  display: block;
  margin: 2em auto 0;
  cursor: pointer;
}
#circle {
  width: 30px;
  height: 30px;
}
.loading-icon {
  display: none;
  width: 30px;
  height: 30px;
  fill: #edba00;
}
#loader {
  fill: #ffda54;
}
article.story p {
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333333333333333;
  font-style: normal;
  font-weight: 500;
}
article.story .p1 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.3;
  font-style: italic;
  font-weight: 600;
}
.video-wrapper {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.video-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-play {
  width: 50px;
  height: 50px;
}
video {
  width: 100%;
}
.home-page .main {
  padding-top: 60px;
}
.home-layout {
  width: 100%;
}
.intro {
  width: 100%;
  max-width: 700px;
  padding: 40px 10px;
  margin: 0 auto;
  text-align: center;
}
.intro p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.3;
  font-style: italic;
  font-weight: 600;
  margin: 0 0 1.5em;
}
.intro a.more-link {
  display: block;
  margin-top: 24px;
}
@media (min-width: 658px) {
  .intro {
    padding: 80px 20px;
  }
}
@media (min-width: 460px) {
  .intro {
    width: 78.5%;
    padding: 80px 20px;
  }
}
.home-content {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 460px) {
  .home-content {
    width: 78.5%;
    padding: 0;
  }
}
.home-content .home-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-content .link {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2%;
}
@media (min-width: 828px) {
  .home-content .link {
    width: 49%;
  }
}
.home-content img {
  max-width: 100%;
}
.home-content .link-content {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-content .link-content:hover {
  background-color: rgba(0, 0, 0, 0);
}
.home-content h2,
.home-content h3 {
  color: #FFF;
}
.home-content h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1666666666666667;
  text-align: center;
}
.home-content h3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  border-bottom: 1px solid #FFF;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.home-content h4 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 1px;
}
.home-content .shop {
  text-align: center;
}
.home-content .shop h2,
.home-content .shop h3 {
  color: #3e3935;
}
.home-content .shop h2 {
  margin: 0.2em 0;
}
.home-content .shop h3 {
  display: inline-block;
  border-color: #3e3935;
}
.gallery-featured {
  position: relative;
  overflow: hidden;
}
.gallery-featured .gallery-cell {
  position: relative;
}
.gallery-featured .gallery-cell img {
  width: 100%;
  display: block;
}
.gallery-featured .owl-stage {
  display: flex;
}
.gallery-featured .owl-item {
  line-height: 0;
}
.gallery-featured .owl-dots {
  display: none;
}
@media (min-width: 520px) {
  .gallery-featured .owl-dots {
    display: block;
  }
}
.gallery-featured .slide-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  z-index: 20;
  text-align: center;
}
.gallery-featured .slide-message div {
  margin-top: 25%;
}
@media (min-width: 500px) {
  .gallery-featured .slide-message div {
    margin-top: 15%;
  }
}
@media (min-width: 1080px) {
  .gallery-featured .slide-message div {
    margin-top: 5%;
  }
}
.gallery-featured .slide-message h3 {
  color: white;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1;
  display: none;
  max-width: 800px;
}
@media (min-width: 830px) {
  .gallery-featured .slide-message h3 {
    display: block;
  }
}
@media (min-width: 918px) {
  .gallery-featured .slide-message h3 {
    font-size: 46px;
    font-size: 4.6rem;
    line-height: 1;
  }
}
.gallery-featured .slide-message .btn {
  display: inline-block;
  margin-top: 1em;
  border-color: white;
  color: white;
  padding: 0.8em 1em;
}
@media (min-width: 400px) {
  .gallery-featured .slide-message .btn {
    padding: 1.3em 2.5em;
  }
}
.gallery-featured .logo-wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 19;
}
@media (min-width: 800px) {
  .gallery-featured .logo-wrapper {
    top: 40px;
  }
}
.gallery-featured .full-logo {
  width: 100px !important;
}
@media (min-width: 388px) {
  .gallery-featured .full-logo {
    width: 120px !important;
  }
}
@media (min-width: 600px) {
  .gallery-featured .full-logo {
    width: 150px !important;
  }
}
@media (min-width: 756px) {
  .gallery-featured .full-logo {
    width: 200px !important;
  }
}
.gallery-featured .offer {
  background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1280,q_70/bailey/img/featured/offer-faded.jpg");
}
@media (min-width: 500px) {
  .gallery-featured .offer {
    background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_800,q_70/bailey/img/featured/offer-faded.jpg");
  }
}
@media (min-width: 800px) {
  .gallery-featured .offer {
    background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1000,q_70/bailey/img/featured/offer-faded.jpg");
  }
}
@media (min-width: 1000px) {
  .gallery-featured .offer {
    background-image: url("https://res.cloudinary.com/dot-to-dot-design/image/upload/w_1280,q_70/bailey/img/featured/offer-faded.jpg");
  }
}
.offer-details {
  max-width: 580px;
  text-align: center;
  padding: 0 10px;
}
.offer-details h1 {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  color: #19a449;
}
@media (min-width: 568px) {
  .offer-details h1 {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 1;
  }
}
@media (min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .offer-details h1 {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1;
  }
}
.offer-details p {
  margin: 2em 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.125;
}
@media (min-width: 568px) {
  .offer-details p {
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 1.1428571428571428;
  }
}
@media (min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .offer-details p {
    margin: 0.5em 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.1428571428571428;
  }
}
.offer-details .btn {
  background-color: #edba00;
}
.offer-details .btn:hover {
  background-color: #3e3935;
  color: #fff;
}
.offer-details .scroll-icon {
  display: block;
}
@media (min-width: 320px) and (max-device-width: 780px) and (orientation: landscape) {
  .offer-details .scroll-icon {
    display: none;
  }
}
.christmas-message {
  background-color: #a6192e;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin: 1em 0;
}
.christmas-message p {
  margin: 0;
}
.product-filter {
  width: 16.2579957%;
  margin-right: 1.06609808%;
  height: 100px;
}
.product-list header {
  position: fixed;
  width: 65.35181244%;
  background: #fff;
  overflow: hidden;
  top: 143px;
}
.product-nav {
  margin-top: 40px;
}
.product-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.product-nav ul li {
  width: 49%;
  text-align: center;
  border-bottom: 1px solid #b2b0ae;
  padding: 5px 0;
}
.product-nav ul li a {
  color: #b2b0ae;
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 658px) {
  .product-nav ul li a {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1;
  }
}
.product-nav ul li.active {
  border-color: #edba00;
}
.product-nav ul li.active a {
  color: #edba00;
}
.product-list {
  justify-content: flex-start;
}
.product-list h2 {
  margin: 60px auto 0;
  text-align: center;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.1428571428571428;
}
.product-list h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  color: #a6192e;
  font-weight: 700;
}
.product-list .section-description {
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.125;
}
.product-item a {
  color: #3e3935;
}
.product-item .old-price,
.product-item .price {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
}
.product-item .old-price {
  color: #a6192e;
  text-decoration: line-through;
}
p.old-price {
  color: #a6192e;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
  font-family: inherit;
}
.accessories,
.beads,
.cables,
.christmas,
.curated {
  margin-top: 20px;
}
.accessories ul,
.beads ul,
.cables ul,
.christmas ul,
.curated ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.accessories li,
.beads li,
.cables li,
.christmas li,
.curated li {
  text-align: center;
  margin-bottom: 1.8em;
  min-width: 0;
}
.cables li {
  flex: 0 1 100%;
}
@media (min-width: 500px) {
  .cables li {
    flex: 0 1 49%;
    width: 49%;
  }
}
.cables h2 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.1111111111111112;
  margin-top: 10px;
}
.cables p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 2px;
}
.accessories li,
.beads li,
.christmas li {
  order: 0;
  align-self: flex-start;
  flex: 0 1 100%;
}
@media (min-width: 500px) {
  .accessories li,
  .beads li,
  .christmas li {
    order: 0;
    flex: 0 1 49%;
    align-self: flex-start;
  }
}
.accessories h2,
.beads h2,
.christmas h2 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin-top: 10px;
}
.accessories p,
.beads p,
.christmas p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-bottom: 2px;
}
@media (min-width: 868px) {
  .beads li {
    order: 0;
    flex: 0 1 23.5%;
    align-self: flex-start;
  }
  .accessories li,
  .christmas li {
    order: 0;
    flex: 0 1 18.4%;
    align-self: flex-start;
  }
}
.free-shipping {
  border-top: 1px solid #3e3935;
  border-bottom: 1px solid #3e3935;
  padding: 16px;
  margin-top: 20px;
}
.free-shipping h2 {
  padding: 0;
  margin: 0;
}
.product-layout {
  width: 100%;
}
.product-show .main {
  padding-top: 60px;
}
.product-content {
  margin-top: 20px;
}
.product-content .mini-logo {
  margin-bottom: 20px;
}
.product-content .video-wrapper {
  width: 86%;
  max-width: 728px;
  margin: 0 auto 2em;
}
.product-content article {
  display: flex;
  flex-flow: column nowrap;
}
.product-content p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333333333333333;
}
.product-content .price,
.product-content .was-price,
.product-content .sold-out {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
  margin-bottom: 30px;
}
.product-content .price.on-sale {
  margin-bottom: 0;
}
.product-content .was-price {
  color: #a6192e;
  text-decoration: line-through;
  margin-bottom: 30px;
}
.product-content .sold-out {
  color: #a6192e;
  margin-bottom: 30px;
}
.product-content .content {
  width: 86%;
  padding: 40px 0;
  max-width: 478px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 65%;
}
.product-content .js-engraving,
.product-content .js-size-guide {
  display: block;
  margin: 10px 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
}
.product-content .js-engraving {
  max-width: 170px;
  margin: 0 auto 1em;
  padding: 1.3em 2em;
}
.product-content .add-cart {
  margin-bottom: 10px;
}
.product-content .delivery-date {
  margin-bottom: 30px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
}
.product-content h2 {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 1%;
}
.product-content h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}
@media (min-width: 658px) {
  .product-content {
    margin-top: 60px;
  }
}
.product-header {
  overflow: hidden;
  width: 100%;
  background: #fff;
}
.product-header .mini-logo {
  width: 8%;
  margin: 70px auto 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  display: none;
}
@media (min-width: 658px) {
  .product-header .mini-logo {
    margin: 260px auto 0;
  }
}
.product-header .product-carousel {
  text-align: center;
  margin-top: 2em;
}
.fade-header .mini-logo {
  opacity: 0;
}
.product-info {
  width: 86%;
  max-width: 728px;
  margin: 0 auto;
}
.product-info .info-box {
  border-top: 1px solid #edba00;
  width: 100%;
  padding: 6px 0 30px;
}
.product-info .info-box .in-the-box {
  margin-top: 1em;
}
.product-info h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
}
.product-info ul {
  margin-bottom: 1em;
}
.product-info li,
.product-info p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
}
.product-info li {
  margin-bottom: 0.3em;
  margin-left: 1.1em;
  list-style: disc;
}
.product-info .more-link {
  width: 20px;
  height: 20px;
  margin: 0 0 12px;
}
.product-image-extra {
  width: 86%;
  max-width: 728px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-image-extra .image-cell {
  width: 100%;
  margin-bottom: 1em;
}
@media (min-width: 658px) {
  .product-image-extra .image-cell {
    width: 49%;
    margin-bottom: 0;
  }
}
.product-sizes li {
  display: inline-block;
}
.product-sizes li .soldout,
.product-sizes li button,
.product-sizes li button.product-select {
  display: block;
  border: 1px solid #edba00;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 3.076923076923077;
  padding: 0 18px;
}
.product-sizes li .soldout.size,
.product-sizes li button.size {
  width: 40px;
  padding: 0;
}
.product-sizes li .soldout {
  border-color: #b2b0ae;
  color: #b2b0ae;
  position: relative;
}
.product-sizes li .soldout p {
  position: absolute;
  bottom: 3px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 7px;
  line-height: 6px;
}
.product-sizes li button.selected {
  background: #edba00;
}
.product-sizes li button:hover {
  background-color: #ffcf21;
}
.product-recommend {
  margin-bottom: 40px;
  display: none;
  background: #f5f5f5;
}
.product-recommend h3 {
  text-align: center;
  margin-bottom: 1em;
}
.product-recommend p {
  text-align: center;
  margin-bottom: 0;
}
.product-recommend .owl-item {
  background: #fff;
  padding: 10px;
  margin: 0 10px;
}
.product-recommend .owl-stage {
  display: flex;
}
.product-recommend .btn-group {
  margin-top: 40px;
}
.product-recommend .included {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.product-recommend .price {
  margin-top: 0 !important;
}
.product-recommend.show {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  max-height: 680px;
}
@media (min-width: 658px) {
  .product-recommend.show {
    height: calc(100vh - 120px);
  }
}
.product-recommend-wrapper {
  max-width: 100vw;
}
.recommend-carousel {
  display: block;
  flex-grow: 0;
}
.recommend-carousel .owl-item {
  position: relative;
}
.product-engraving {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 100%;
  padding: 20px;
  z-index: 22;
  transform: translate(100%);
  transition-duration: 300ms;
  overflow: auto;
}
@media (min-width: 600px) {
  .product-engraving {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .product-engraving {
    width: 25%;
  }
}
.product-engraving .close-panel {
  position: absolute;
  right: 20px;
  top: 20px;
}
.product-engraving h2 {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  margin: 0.5em 0;
}
.product-engraving .price {
  display: block;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 1em;
  color: #3e3935;
}
.product-engraving .options li {
  margin-bottom: 2.5em;
  padding-bottom: 2em;
  border-bottom: 1px solid #3e3935;
}
.product-engraving.show {
  transform: translate(0%);
}
.engraving-add .icon {
  fill: #19a449;
}
.engraving-delete .icon {
  fill: #a6192e;
}
.engraving-create .heading,
.engraving-view .heading {
  display: flex;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: bold;
  color: #3e3935;
  margin-bottom: 0.5em;
}
.engraving-create .item-total,
.engraving-view .item-total {
  margin-left: auto;
}
.engraving-create .actions,
.engraving-view .actions {
  display: flex;
}
.engraving-create .actions p,
.engraving-view .actions p {
  margin: 0;
}
.engraving-create .actions button,
.engraving-view .actions button {
  margin-left: auto;
}
.engraving-create input,
.engraving-view input {
  text-transform: uppercase;
}
.engraving-create .icon,
.engraving-view .icon {
  width: 28px;
  height: 28px;
}
.engraving-view h4 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  color: #3e3935;
  border-bottom: 1px solid #b2b0ae;
  padding: 10px 0;
  margin-bottom: 10px;
}
.engraving-view .actions {
  display: flex;
  justify-content: flex-end;
}
.engraving-view .actions button {
  margin-left: 5px;
}
.story-layout {
  max-width: 728px;
}
.story-layout #logo_svg {
  fill: #3e3935;
  max-width: 298px;
}
.story-links {
  margin: 60px auto 0;
}
.story h3 {
  text-align: center;
  margin-bottom: 1em;
}
.story .video-wrapper {
  margin-bottom: 1em;
}
.portland-logo {
  margin: 0em auto 3em;
  display: block;
}
.story-link-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.story-link-layout .link {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2%;
  overflow: hidden;
}
@media (min-width: 555px) {
  .story-link-layout .link {
    width: 49%;
  }
}
.story-link-layout .link-content {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}
.story-link-layout .link-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.story-link-layout h2,
.story-link-layout h3 {
  color: #FFF;
}
.story-link-layout h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.1666666666666667;
  text-align: center;
}
.story-link-layout h3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  border-bottom: 1px solid #FFF;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.portland-images {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.portland-images .image {
  flex: 0 0 32.6666%;
}
.page-header {
  text-align: center;
  border-bottom: 1px solid #edba00;
  padding-bottom: 4em;
  margin-bottom: 2em;
}
.page-header img {
  max-width: 105px;
}
.page h1 {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3333333333333333;
  font-weight: 700;
  margin-bottom: 2em;
}
.page h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
}
.page p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.page p.image-pair {
  margin-top: 2em;
}
.page p.image-pair img:first-child {
  margin-bottom: 1em;
}
@media (min-width: 550px) {
  .page p.image-pair img {
    float: left;
    width: 49%;
  }
  .page p.image-pair img:first-child {
    margin-right: 2%;
    margin-bottom: 0;
  }
}
.page ul {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-left: 25px;
  margin-bottom: 1em;
}
.page ul li {
  list-style: disc;
  margin-left: 10px;
}
.video-region {
  margin-bottom: 1em;
}
/*
 *  Owl Carousel - Animate Plugin
 */
/*
  *  Owl Carousel - Animate Plugin
  */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
  * 	Owl Carousel - Auto Height Plugin
  */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
  *  Core Owl Carousel CSS File
  */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
  * 	Owl Carousel - Lazy Load Plugin
  */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/*
  * 	Owl Carousel - Video Plugin
  */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-indent: -9999px;
  overflow: hidden;
  z-index: 20;
}
.owl-prev {
  background-image: url('/svg/arrow-left.svg');
  left: 10px;
}
@media (min-width: 658px) {
  .owl-prev {
    left: 20px;
  }
}
.owl-next {
  background-image: url('/svg/arrow-right.svg');
  right: 10px;
}
@media (min-width: 658px) {
  .owl-next {
    right: 20px;
  }
}
.owl-dark-nav .owl-prev {
  background-image: url('/svg/arrow-left-dark.svg');
}
.owl-dark-nav .owl-next {
  background-image: url('/svg/arrow-right-dark.svg');
}
.recommend-carousel {
  padding: 0 80px;
  position: relative;
}
.recommend-carousel .owl-stage-outer {
  overflow: hidden;
}
.owl-dots {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  opacity: 1;
  cursor: pointer;
}
.owl-dots .owl-dot.active {
  background: white;
}
@media (min-width: 658px) {
  .owl-dots {
    bottom: 39px;
  }
}
.product-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}
.cart-actions {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
@media (min-width: 800px) {
  .cart-actions {
    flex-direction: row;
  }
}
.show-checkout {
  order: 0;
  margin-top: 1em;
}
@media (min-width: 800px) {
  .show-checkout {
    margin-left: auto;
    order: 1;
  }
}
.shop-continue {
  order: 1;
  margin-top: 1em;
}
h1.cart-empty {
  font-size: 3em;
  text-align: center;
  margin-top: 2em;
}
.cart-items .container .cart-total {
  padding-top: 40px;
  width: 142px;
  margin-left: auto;
}
.cart-items .container p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
.cart-items .container .cart-value {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
}
.cart-list li {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-bottom: 1px solid #9e9c9a;
}
.cart-list li .item-image {
  flex: 0 0 20%;
  order: 0;
}
.cart-list li .item-title {
  flex: 0 0 auto;
  width: calc(80% - 30px);
  padding: 0 10px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  order: 1;
}
.cart-list li .item-title h4 {
  margin-bottom: 0.4em;
}
@media (min-width: 800px) {
  .cart-list li .item-title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 1;
  }
}
.cart-list li .item-qty {
  flex: 0 0 40%;
  padding: 0;
  order: 5;
}
.cart-list li .item-price {
  flex: 1 0 auto;
  padding: 0 10px;
  margin-left: 20%;
  order: 4;
}
.cart-list li .remove-cart {
  flex: 0 0 30px;
  order: 3;
  height: 22px;
}
.cart-list li .remove-cart .close-icon {
  fill: #a6192e;
  width: 30px;
  height: 30px;
}
@media (min-width: 800px) {
  .cart-list li {
    padding: 40px 0;
  }
}
.engravings-cart {
  margin-bottom: 1em;
}
.engravings-cart h4 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
}
.engravings-cart li {
  padding: 0;
  border: 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.3636363636363635;
  display: block;
}
.cart-in-box p {
  display: none;
}
.cart-in-box ul {
  margin-bottom: 1em;
}
.cart-in-box ul li {
  display: block;
  padding: 0;
  border: 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.3636363636363635;
}
@media (min-width: 658px) {
  .cart-in-box ul li {
    display: inline-block;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1;
  }
}
.cart-in-box ul li:after {
  content: "";
}
@media (min-width: 658px) {
  .cart-in-box ul li:after {
    content: " - ";
  }
}
.cart-in-box ul li:last-child:after {
  content: "";
}
.char-left {
  font-weight: bold;
}
.char-left.warning {
  color: #a6192e;
}
#apple-pay-button {
  display: none;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 10px;
}
.payment-request ul {
  margin-bottom: 1em;
}
.payment-request li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.order-thanks {
  text-align: center;
}
.order-thanks h1 {
  margin-bottom: 1em;
}
.order-thanks h2 {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  margin: 1em 0 1em;
}
.order-thanks .social {
  list-style: none;
  margin: 0 auto;
  justify-content: center;
}
.order-thanks .social li {
  list-style: none;
}
.order-thanks .social .icon {
  fill: #3e3935;
}
.card-types {
  margin-bottom: 1em;
}
.card-types li {
  display: inline-block;
}
.card-types li img {
  width: 50px;
}
.checkout-layout .mini-logo {
  max-width: 80px;
  margin: 20px auto;
}
.checkout-step-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 700px) {
  .checkout-step-layout {
    flex-direction: row;
  }
}
.cart-items {
  order: 0;
}
@media (min-width: 700px) {
  .cart-items {
    order: 1;
    flex: 0 0 300px;
  }
}
.checkout-step {
  flex: 1;
}
.checkout-step h3 {
  margin-bottom: 0.5em;
}
.checkout-step .js-next {
  margin: 2em 0 0;
  display: block;
}
@media (min-width: 700px) {
  .checkout-step {
    margin-right: 2%;
  }
}
.checkout-space {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #b2b0ae;
}
.checkout-summary {
  margin-bottom: 1em;
}
@media (min-width: 700px) {
  .checkout-summary {
    margin-bottom: 0;
  }
}
.checkout-summary h3 {
  border-bottom: 1px solid #9e9c9a;
  padding-bottom: 0.5em;
}
.checkout-summary .cart-list li {
  padding: 10px 0;
}
.checkout-summary .cart-total {
  padding: 0.3em 0;
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  display: flex;
}
@media (min-width: 700px) {
  .checkout-summary .cart-total {
    padding: 0.5em 0;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1;
  }
}
.checkout-summary .cart-value {
  margin-left: auto;
}
.checkout-summary .cart-list li .item-qty .cart-value,
.checkout-summary .cart-list li .item-title h4 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
.checkout-summary .cart-list li .item-title {
  flex: 1 1;
}
.checkout-summary .cart-list li .item-image {
  flex: 0 1 50px;
}
.checkout-summary .cart-list li .item-qty {
  flex: 0 0 auto;
}
.checkout-summary .cart-list .engravings-cart h4 {
  margin: 1em 0 0;
}
.checkout-summary .cart-list .engravings-cart ul {
  margin: 0;
}
.checkout-summary .cart-list .engravings-cart li {
  margin: 1px 0 !important;
  padding: 0;
}
.billing-fields {
  display: none;
}
.checkout-progress {
  flex: 1 0 100%;
}
.flexer,
.progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.no-flexer,
.progress-indicator.stacked {
  display: block;
}
.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}
.flexer-element,
.progress-indicator > li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.progress-indicator {
  margin: 0 0 1em;
  padding: 0;
  font-size: 80%;
  text-transform: uppercase;
}
.progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: block;
}
.progress-indicator > li:hover {
  color: #6f6f6f;
}
.progress-indicator > li.completed,
.progress-indicator > li.completed .bubble {
  color: #65d074;
}
.progress-indicator > li .bubble {
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  display: block;
  margin: 0 auto 0.5em;
}
.progress-indicator > li .bubble:after,
.progress-indicator > li .bubble:before {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #bbb;
}
.progress-indicator > li.completed .bubble,
.progress-indicator > li.completed .bubble:after,
.progress-indicator > li.completed .bubble:before {
  background-color: #65d074;
  border-color: #247830;
}
.progress-indicator > li .bubble:before {
  left: 0;
}
.progress-indicator > li .bubble:after {
  right: 0;
}
.progress-indicator > li.active,
.progress-indicator > li.active .bubble {
  color: #edba00;
}
.progress-indicator > li.active .bubble,
.progress-indicator > li.active .bubble:after,
.progress-indicator > li.active .bubble:before {
  background-color: #edba00;
  border-color: #edba00;
}
.progress-indicator > li a:hover .bubble,
.progress-indicator > li a:hover .bubble:after,
.progress-indicator > li a:hover .bubble:before {
  background-color: #5671d0;
  border-color: #1f306e;
}
.progress-indicator > li a:hover .bubble {
  color: #5671d0;
}
.progress-indicator > li.danger .bubble,
.progress-indicator > li.danger .bubble:after,
.progress-indicator > li.danger .bubble:before {
  background-color: #d3140f;
  border-color: #440605;
}
.progress-indicator > li.danger .bubble {
  color: #d3140f;
}
.progress-indicator > li.warning .bubble,
.progress-indicator > li.warning .bubble:after,
.progress-indicator > li.warning .bubble:before {
  background-color: #edb10a;
  border-color: #5a4304;
}
.progress-indicator > li.warning .bubble {
  color: #edb10a;
}
.progress-indicator > li.info .bubble,
.progress-indicator > li.info .bubble:after,
.progress-indicator > li.info .bubble:before {
  background-color: #5b32d6;
  border-color: #25135d;
}
.progress-indicator > li.info .bubble {
  color: #5b32d6;
}
.progress-indicator.stacked > li {
  text-indent: -10px;
  text-align: center;
  display: block;
}
.progress-indicator.stacked > li .bubble:after,
.progress-indicator.stacked > li .bubble:before {
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 100%;
}
.progress-indicator.stacked .stacked-text {
  position: relative;
  z-index: 10;
  top: 0;
  margin-left: 60% !important;
  width: 45%!important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
}
.progress-indicator.stacked > li a {
  border: none;
}
.progress-indicator.stacked.nocenter > li .bubble {
  margin-left: 0;
  margin-right: 0;
}
.progress-indicator.stacked.nocenter > li .bubble:after,
.progress-indicator.stacked.nocenter > li .bubble:before {
  left: 10px;
}
.progress-indicator.stacked.nocenter .stacked-text {
  width: auto!important;
  display: block;
  margin-left: 40px !important;
}
@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%;
  }
}
.account-login {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.account-login .user-login {
  margin-right: 0;
  margin-bottom: 2em;
}
.account-login .user-login,
.account-login .create-account {
  width: 100%;
}
.account-login .guest-checkout {
  margin-top: 2em;
  text-align: center;
  flex: 0 0 100%;
}
.account-login .guest-checkout p {
  padding: 10px 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
.account-login .guest-checkout .submit-link {
  margin: 0 auto;
}
.account-login .forgot-password {
  text-align: center;
  display: block;
  margin-top: 1em;
}
.login-form-layout {
  display: flex;
  flex-flow: row wrap;
  flex: none;
  justify-content: space-between;
}
#forgot-form,
#reset-form {
  max-width: 500px;
  margin: 0 auto;
}
#forgot-form p,
#reset-form p {
  text-align: center;
}
@media (min-width: 800px) {
  .account-login {
    width: 68%;
  }
  .account-login header h2 {
    margin: 40px auto 40px;
  }
  .account-login .user-login {
    margin-right: 2%;
    margin-bottom: 0;
  }
  .account-login .user-login,
  .account-login .create-account {
    width: 49%;
  }
}
body.workshop {
  background-image: url('/img/workshop/workshop-bg.jpg');
  background-repeat: repeat;
}
body.workshop .header {
  background: transparent;
}
.workshop-layout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}
.workshop-layout header {
  flex: 0 0 100%;
  margin-bottom: 40px;
}
.workshop-layout .workshop-nav,
.workshop-layout .workshop-links {
  width: 354px;
}
.workshop-layout .posts {
  flex: 1;
}
.workshop-layout .workshop-nav {
  text-align: center;
  padding: 0 1em;
}
.workshop-layout .workshop-nav img {
  width: 215px;
  margin-bottom: 1.5em;
}
.workshop-layout .workshop-nav p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}
.workshop-layout .workshop-links img {
  margin-bottom: 1em;
}
.post-item {
  padding: 0 1.5em;
  text-align: center;
}
.post-item h2 {
  margin: 0.5em 0 0.5em;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}
.post-item p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.125;
  max-width: 478px;
  margin: 0 auto;
}
.lookbook {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.look-item {
  margin-bottom: 1em;
}
.grid-sizer,
.look-item {
  width: 100%;
}
.look-item--width2 {
  width: 100%;
}
.look-info {
  padding: 10px 0 0;
  text-align: center;
}
.look-info p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
@media (min-width: 600px) {
  .grid-sizer,
  .look-item {
    width: 49%;
  }
  .look-item--width2 {
    width: 100%;
  }
  .gutter-sizer {
    width: 2%;
  }
}
@media (min-width: 900px) {
  .grid-sizer,
  .look-item {
    width: 23.5%;
  }
  .look-item--width2 {
    width: 49%;
  }
  .gutter-sizer {
    width: 2%;
  }
}
#CLASP-LOGO {
  opacity: 0.7;
  fill: #666;
}
.product-custom {
  width: 100%;
}
.product-custom .price {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1428571428571428;
  margin-top: 20px;
}
.product-custom .js-size-guide,
.product-custom .js-engraving {
  display: block;
  margin: 10px 0;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
}
.product-custom .js-engraving {
  max-width: 170px;
  margin: 0 auto 1em;
  padding: 1.3em 2em;
}
.custom-header {
  background-color: #f5f5f5;
  padding: 0 0 80px;
  text-align: center;
  position: relative;
}
.custom-header svg {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  padding: 0;
}
.custom-fixed {
  background-color: #f5f5f5;
  width: 100%;
  position: fixed;
  top: 60px;
  padding: 20px 0;
  z-index: 10;
}
.custom-options h3 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  margin-top: 1em;
}
.custom-options .add-cart {
  margin-top: 2em;
  margin-bottom: 10px;
}
.custom-selectors {
  display: none;
}
.custom-selectors .delivery-date {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1;
}
.custom-colours {
  margin: 10px auto 0;
  display: block;
  text-align: center;
}
.custom-colours li {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}
.custom-warning {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
}
.custom-warning.error {
  color: #a6192e;
}
.image-radio {
  display: block;
  position: relative;
  width: 100%;
}
.image-radio input {
  visibility: hidden;
  display: none;
}
.image-radio img {
  display: block;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  max-height: 100%;
}
.image-radio .show-tick {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  overflow: hidden;
  display: none;
}
.image-radio .show-tick svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.image-radio input:checked ~ img ~ .show-tick {
  display: block;
}
@media (min-width: 658px) {
  .custom-fixed {
    top: 120px;
  }
}
.account-layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
}
@media (min-width: 658px) {
  .account-layout {
    flex-wrap: nowrap;
  }
}
.account-layout p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.account-layout ul {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-left: 25px;
  margin-bottom: 1em;
}
.account-layout ul li {
  list-style: disc;
  margin-left: 10px;
}
.user-account-menu {
  flex: 0 0 100%;
  margin-right: 2%;
}
.user-account-menu ul {
  padding: 0;
  margin: 0;
}
.user-account-menu li {
  margin-bottom: 1em;
  margin-right: 10px;
  display: inline-block;
}
.user-account-menu li a {
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 658px) {
  .user-account-menu li {
    display: block;
    margin-right: 0;
  }
}
@media (min-width: 658px) {
  .user-account-menu {
    flex: 0 0 150px;
  }
}
.user-account {
  flex: 0 0 100%;
}
.user-account h1 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 1em;
}
.user-account table {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
}
.user-account thead th {
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  border-bottom: 1px solid #3e3935;
  padding: 10px 5px;
}
.user-account tbody td {
  border-bottom: 1px solid #b2b0ae;
  vertical-align: middle;
}
@media (min-width: 658px) {
  .user-account {
    flex: 1;
  }
}
.order-addresses {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}
.user-order {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
}
.order-shipping,
.order-billing {
  flex: 0 1 50%;
}
.order-shipping h4,
.order-billing h4 {
  margin-bottom: 1em;
}
.invoice-items {
  width: 100%;
  margin-top: 3em;
}
.invoice-items .product-image {
  max-width: 100%;
  white-space: nowrap;
  margin: 0;
}
.invoice-items .product-image img {
  width: 60px;
}
.invoice-items .total td {
  border-top: 1px solid #b2b0ae;
}
.invoice-items td {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
td.alignright {
  text-align: right;
}
.total td {
  font-weight: bold;
}
/* Common, default styles for the notification box */
.ns-box {
  position: fixed;
  background: rgba(42, 45, 50, 0.95);
  padding: 22px;
  line-height: 1.4;
  z-index: 1000;
  pointer-events: none;
  color: rgba(250, 251, 255, 0.95);
  font-size: 90%;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.ns-box.ns-show {
  pointer-events: auto;
}
.ns-box.ns-type-error {
  background: #a6192e;
}
.ns-box.ns-type-notice {
  background: #19a449;
}
.ns-box a {
  color: inherit;
  opacity: 0.7;
  font-weight: 700;
}
.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}
.ns-box p {
  margin: 0;
}
.ns-box h3 {
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1;
}
.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}
.ns-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ns-close:hover,
.ns-close:focus {
  outline: none;
}
.ns-close::before,
.ns-close::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #fff;
}
.ns-close:hover::before,
.ns-close:hover::after {
  background: #ccc;
}
.ns-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.ns-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* To bar notifications */
.ns-box.ns-bar {
  top: 60px;
  left: 0;
  width: 100%;
}
.ns-bar .ns-close {
  background: transparent;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #fff;
}
[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
/* Individual Effects */
/* Slide on top */
.ns-effect-slidetop {
  box-shadow: inset 4.5em 0 rgba(0, 0, 0, 0.6);
}
.ns-effect-slidetop .icon {
  position: absolute;
  display: block;
  font-size: 135%;
  top: 50%;
  left: 1em;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.ns-effect-slidetop p {
  padding: 0 3.2em;
  font-size: 1.2em;
  display: inline-block;
}
.ns-effect-slidetop .ns-close::before,
.ns-effect-slidetop .ns-close::after {
  width: 2px;
  background: #14151b;
}
.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #fff;
}
.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animScaleUp;
  animation-name: animScaleUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}
@-webkit-keyframes animScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
  }
}
@keyframes animScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(0, 0, 1);
    transform: translate3d(0, -50%, 0) scale3d(0, 0, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
  }
}
.ns-effect-slidetop.ns-show,
.ns-effect-slidetop.ns-hide {
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
@-webkit-keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* Expanding Loader */
.ns-effect-exploader {
  background: #fff;
  color: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.ns-effect-exploader .icon {
  position: absolute;
  left: 0.25em;
  top: 50%;
  font-size: 135%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.ns-effect-exploader .ns-box-inner {
  position: relative;
}
.ns-effect-exploader p {
  padding: 0.25em 2em 0.25em 3em;
}
.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
  background: #98815a;
}
.ns-effect-exploader.ns-show {
  -webkit-animation-name: animLoad;
  animation-name: animLoad;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes animLoad {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0, 0.3, 1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.3, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(0.6, 0.3, 1);
  }
  80%,
  85% {
    opacity: 1;
    -webkit-transform: scale3d(1, 0.3, 1);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes animLoad {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0, 0.3, 1);
    transform: scale3d(0, 0.3, 1);
  }
  33% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.3, 1);
    transform: scale3d(0.5, 0.3, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(0.6, 0.3, 1);
    transform: scale3d(0.6, 0.3, 1);
  }
  80%,
  85% {
    opacity: 1;
    -webkit-transform: scale3d(1, 0.3, 1);
    transform: scale3d(1, 0.3, 1);
    -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.ns-effect-exploader.ns-hide {
  -webkit-animation-name: animFade;
  animation-name: animFade;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}
.ns-effect-exploader.ns-show .ns-box-inner {
  -webkit-animation-name: animFadeMove;
  animation-name: animFadeMove;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
@-webkit-keyframes animFadeMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes animFadeMove {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tooltip-element,
.tooltip-element:after,
.tooltip-element:before,
.tooltip-element *,
.tooltip-element *:after,
.tooltip-element *:before {
  box-sizing: border-box;
}
.tooltip-element {
  position: absolute;
  display: none;
}
.tooltip-element.tooltip-open {
  display: block;
}
.tooltip-element.tooltip-theme-twipsy {
  max-width: 100%;
  max-height: 100%;
}
.tooltip-element.tooltip-theme-twipsy .tooltip-content {
  border-radius: 5px;
  position: relative;
  font-family: inherit;
  background: #414141;
  color: #fff;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
}
.tooltip-element.tooltip-theme-twipsy .tooltip-content:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content {
  margin-bottom: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-center .tooltip-content:before {
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content {
  margin-top: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-center .tooltip-content:before {
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-bottom-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content {
  margin-right: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-right.tooltip-element-attached-middle .tooltip-content:before {
  left: 100%;
  top: 50%;
  margin-top: -10px;
  border-left-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content {
  margin-left: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-left.tooltip-element-attached-middle .tooltip-content:before {
  right: 100%;
  top: 50%;
  margin-top: -10px;
  border-right-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  left: 10px;
  border-bottom-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content {
  margin-top: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-bottom .tooltip-content:before {
  bottom: 100%;
  right: 10px;
  border-bottom-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  left: 10px;
  border-top-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content {
  margin-bottom: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-top .tooltip-content:before {
  top: 100%;
  right: 10px;
  border-top-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  top: 10px;
  left: 100%;
  border-left-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-top.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  top: 10px;
  right: 100%;
  border-right-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content {
  margin-right: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-right.tooltip-target-attached-left .tooltip-content:before {
  bottom: 10px;
  left: 100%;
  border-left-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content {
  margin-left: 10px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-element-attached-bottom.tooltip-element-attached-left.tooltip-target-attached-right .tooltip-content:before {
  bottom: 10px;
  right: 100%;
  border-right-color: #414141;
}
.tooltip-element.tooltip-theme-twipsy {
  opacity: 0;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
  pointer-events: none;
}
.tooltip-element.tooltip-theme-twipsy .tooltip-content {
  padding: 0.5em 1em;
}
.tooltip-element.tooltip-theme-twipsy .tooltip-content {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px 8px;
  line-height: 18px;
  font-size: 11px;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-open-transitionend {
  display: block;
}
.tooltip-element.tooltip-theme-twipsy.tooltip-after-open {
  opacity: 1;
}
body.modal-open {
  overflow: hidden;
}
#ouibounce-modal,
.brown-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
#ouibounce-modal .modal-underlay,
.brown-modal .modal-underlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3e3935;
  width: 100%;
  height: 100%;
}
#ouibounce-modal .modal-content,
.brown-modal .modal-content {
  background-color: #3e3935;
  width: 100;
  padding: 3em 40px;
}
@media (min-width: 658px) {
  #ouibounce-modal .modal-content,
  .brown-modal .modal-content {
    width: 600px;
    padding: 3em 10px;
  }
}
#ouibounce-modal .mini-logo,
.brown-modal .mini-logo {
  fill: #FFF;
}
#ouibounce-modal .close-model,
.brown-modal .close-model {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (min-width: 658px) {
  #ouibounce-modal .close-model,
  .brown-modal .close-model {
    top: 20px;
    right: 20px;
  }
}
#ouibounce-modal .close-icon,
.brown-modal .close-icon {
  fill: #FFF;
  width: 20px;
  height: 20px;
}
@media (min-width: 658px) {
  #ouibounce-modal .close-icon,
  .brown-modal .close-icon {
    width: 40px;
    height: 40px;
  }
}
#ouibounce-modal input,
.brown-modal input {
  border: 1px solid #edba00;
}
#ouibounce-modal p,
.brown-modal p {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
#ouibounce-modal label,
.brown-modal label {
  color: #fff;
}
#ouibounce-modal .btn,
.brown-modal .btn {
  background-color: #edba00;
}
#ouibounce-modal .datefield,
.brown-modal .datefield {
  background: #FFF;
  border: 1px solid #edba00;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  margin-bottom: 1em;
}
#ouibounce-modal .datefield input,
.brown-modal .datefield input {
  height: auto;
  padding: 0;
  border: 0;
  width: auto;
  display: inline-block;
  width: 1.7em;
}
#ouibounce-modal .datefield .subfield,
.brown-modal .datefield .subfield {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  height: 40px;
  padding: 10px;
  line-height: 40px;
}
.brown-modal {
  display: block;
}
.brown-modal h2 {
  color: white;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.brown-modal .modal-form input[type=radio] + label:before {
  border-color: white;
}
.brown-modal .modal-form input[type=radio]:checked + label:before {
  background-color: white;
}
.brown-modal form {
  padding: 1em 0;
}
.brown-modal form p {
  text-align: left;
}
.brown-modal form .form-group {
  margin-bottom: 3em;
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
#modal .modal-underlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 100%;
}
#modal .modal-content {
  background-color: #fff;
  width: 100;
  overflow: scroll;
  padding: 3em 40px;
}
@media (min-width: 658px) {
  #modal .modal-content {
    width: 600px;
    padding: 3em 10px;
  }
}
#modal .close-model {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (min-width: 658px) {
  #modal .close-model {
    top: 20px;
    right: 20px;
  }
}
#modal .close-icon {
  fill: #3e3935;
  width: 20px;
  height: 20px;
}
@media (min-width: 658px) {
  #modal .close-icon {
    width: 40px;
    height: 40px;
  }
}
#modal input {
  border: 1px solid #edba00;
}
#modal h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 1em;
}
#modal p {
  text-align: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
#modal.show,
#ouibounce-modal.show {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
#modal.show {
  display: block;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews .review-item {
  width: 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #edba00;
  text-align: center;
}
.reviews .review-item p {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.1428571428571428;
}
.reviews .review-item .customer {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}
.reviews .review-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
@media (min-width: 756px) {
  .reviews .review-item {
    width: 48%;
  }
  .reviews .review-item:nth-child(2n+1):nth-last-child(-n+2),
  .reviews .review-item:nth-child(2n+1):nth-last-child(-n+2) ~ .review-item {
    border-bottom: 0;
    margin-bottom: 0;
  }
}
.not-mobile {
  display: none;
}
@media (min-width: 500px) {
  .footer .f-item {
    width: 49%;
  }
  .footer .social {
    display: flex;
  }
  .product-info .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .product-info .info-box {
    width: 46%;
  }
}
@media (min-width: 658px) {
  .not-mobile {
    display: block;
  }
  .cart-menu li.not-mobile {
    display: inline-block;
  }
  .main-menu {
    display: block;
  }
  .mini-logo {
    width: 124px;
    margin-bottom: 40px;
  }
  .bar-menu .header {
    background: #fff;
  }
}
@media (min-width: 768px) {
  .product-info .info-box {
    width: 48%;
  }
  .product-info .info-box.wide {
    width: 100%;
  }
  .footer .f-logo {
    display: block;
  }
  .footer .f-item {
    width: 15%;
  }
}
@media (min-width: 980px) {
  .product-info .info-box {
    width: 49%;
  }
  .product-info .info-box.wide {
    width: 100%;
  }
  .footer .f-main {
    display: block;
  }
}
html,
body {
  height: 100%;
}
html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  color: #3e3935;
}
body {
  background: #fff;
}
body.checkout-page,
body.cart-page,
body.bg-grey {
  background: #f5f5f5;
}
p {
  margin-bottom: 1em;
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2857142857142858;
}
p.italic {
  font-style: italic;
}
p.help-block {
  width: 100%;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4 {
  font-family: "Archer A", "Archer B", Georgia, Times, 'Times New Roman', serif, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-style: normal;
  color: #3e3935;
  text-transform: uppercase;
}
h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.6;
}
a,
a:visited {
  color: #3e3935;
}
a:hover {
  color: #756c64;
}
.logo {
  width: 104px;
  height: 123px;
  fill: #3e3935;
  margin: 15px auto 0;
  display: block;
}
table {
  width: 100%;
}
td,
th {
  vertical-align: top;
  padding: 5px;
}
td.text-right {
  text-align: right;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
}
.loading .item,
.loading svg {
  width: 60px;
  height: 60px;
}
