<li class="step-login"> <span class="bubble"></span> Login </li>
<li class="step-shipping"> <span class="bubble"></span> Shipping </li>
<li class="step-payment"> <span class="bubble"></span> Payment </li>
<li class="step-complete"> <span class="bubble"></span> Complete </li>
