<ul class="cart-list"></ul>
<div class="cart-total">
  <p>
    Subtotal<br>
    <span class="cart-value">{{decimalPrice subtotal}}</span>
  </p>
  {{#if discount_amount}}
  <p>
    Discount{{#if discount_percent}} {{discount_percent}}%{{/if}}<br>
    <span class="cart-value">{{decimalPrice discount_amount}}</span>
  </p>
  {{/if}}
  {{#if gift_wrap}}
  <p>
    Gift wrapping<br>
    <span class="cart-value">{{decimalPrice gift_wrap_price}}</span>
  </p>
  {{/if}}
  <p>
    Estimated shipping<br>
    <span class="cart-value">{{decimalPrice shipping_price}}</span>
  </p>
  <p>
    Total<br>
    <span class="cart-value">{{decimalPrice total}}</span>
  </p>
</div>
<div class="cart-actions">
  <button type="submit" class="btn shop-continue">Continue shopping</button>
  <button type="submit" class="btn show-checkout">Proceed to Checkout</button>
</div>
