<div class="item-image">
  <img src="{{cloudFormat "c_scale,w_160" image.public_id}}" srcset="{{cloudFormat "c_scale,w_160" image.public_id}} 1x, {{cloudFormat "c_scale,dpr_2.0,w_160" image.public_id}} 2x" alt="{{product.title}}">
</div>
<div class="item-title">
  {{#if custom_variations}}
    {{#each custom_variations}}
      <h4>{{product.title}}{{#if product.size}} - {{product.size}}{{/if}} - {{decimalPrice product.price}}</h4>
    {{/each}}
  {{else}}
    <h4>{{product.title}}{{#if product.size}} - {{product.size}}{{/if}} - {{decimalPrice product.price}}</h4>
  {{/if}}
  {{#if product_display.fields.0.in_box}}
    <div class="cart-in-box">
      {{{product_display.fields.0.in_box}}}
    </div>
  {{/if}}
  {{#if engraving_options.length}}
    <div class="engravings-cart">
      <h4>Engravings</h4>
      <ul>
        {{#each engraving_options}}
          <li>{{title}}: {{text}} - {{decimalPrice total}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
<div class="item-qty">
  <div class="stepperInput">
    <button class="btn-step cart-minus">-</button>
    <input id="qty" type="text" placeholder="Qty" value="{{qty}}" class="input stepperInput__input" />
    <button class="btn-step cart-add">+</button>
  </div>
</div>
<div class="item-price">
  <span class="cart-value">{{decimalPrice total}}</span>
</div>
<button type="submit" class="remove-cart" title="Remove from cart">
  <svg class="icon close-icon">
    <use xlink:href="/svg/sprite.svg#close" />
  </svg>
</button>
