<h1>Registered products</h1>
<p>
  To activate your more than lifetime guarantee please click on the activation link you received after your product was shipped. Once you have registered your product it will be shown below.
</p>
