<h1>Edit profile</h1>
<div class="form-group">
<input id="email" class="form-control pre-check" type="email" name="email" placeholder="Email address" value="{{email}}">
</div>
<div class="form-group">
<input id="password" class="form-control pre-check" type="password" name="password" placeholder="Password (min 8 characters)">
</div>
<div class="form-group">
  <input id="confirm" class="form-control" type="password" name="confirm" placeholder="Confirm password">
</div>
<button class="btn btn-center js-submit" data-title="Update Account">Update Account</button>
